@font-face {
  font-family: "bebasneue";
  src: url("../bebas_neue/BebasNeue.otf") format("truetype");
}
body {
  width: 100vw;
  margin-left: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  /*border: 1px solid #212121;*/
  font-family: "bebasneue";
}

a {
  text-decoration: none;
  color: #154498;
}
#adminPageNav {
  width: 100%;
  border-bottom: 3px solid #154498;
  font-size: 120%;
  height: 90px;
  /*padding: 5px;*/
  color: white;
  background: #154498;
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: center;
  /*text-align: center;*/
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
}
#adminPageNav a {
  color: #E1F5FE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 150px;
}
#adminSettingsControl {
  /*padding: 30px;*/
  /*width: 100%;*/
  flex-direction: column;
}
#adminSettingsControl span {
  display: flex;
  align-items: center;
  padding: 10px;
}
#adminSettingsControl input {
  height: 40px;
  font-size: 100%;
  margin: 10px;
}
#sponsorSettingsDiv {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}
#sponsorSettingsDiv span {
  display: flex;
  align-items: center;
}
#sponsorCellContainer {
  /*border: 1px solid black;*/
  width: 100%;
  flex-wrap: wrap;
}
#adminImagesControl {
  display: flex;
  flex-direction: column;
}
#photoGallery {
  display: flex;
}

#adminAccountsControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
#adminDriversDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 150%;
}
.adminAccountsDriverCells {
  width: 60vw;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  font-size: 150%;
}
.adminAccountsDriverCells img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.adminAccountsDriverCells p {
  padding: 5px;
}
.adminAccountsDriverCells span {
  display: flex;
}
.adminAccountsDriverCellsNames {
  display: flex;
  width: 500px;
  padding-left: 30px;
}
#adminAccountsHeader {
  height: 50px;
  display: flex;
  align-items: center;
}
#adminAccountsNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 120%;
}
#adminAccountsNav input {
  height: 35px;
  font-size: 150%;
}
.accountCells {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  border-top: 1px solid #154498;
  padding: 10px;
  font-size: 120%;
}
.accountCells p {
  width: 70%;
}
.accountCells a {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  /* padding: 10px; */
}

#adminRulesControl {
  display: flex;
  flex-direction: column;
  width: 80vw;
  font-size: 140%;
}
.adminClubDisplays {
  display: flex;
  flex-direction: column;
}
.adminClubDisplayHeaders {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  /* justify-content: space-between; */
}
.adminClubDisplayEditBars {
  display: flex;
  align-items: center;
  height: 50px;
}
.adminClubDisplayTitleDivs {
  display: flex;
  align-items: center;
  width: 200px;
}
.adminClubDisplayEditBars span {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.adminClubDisplayEditBars input {
  height: 35px;
  margin-left: 10px;
}
.adminClubInfoDisplays {
  display: flex;
  width: 100%;
}
.adminClubInfoDisplayClassesDivs {
  display: flex;
  flex-direction: column;
}
.adminClubInfoDisplayClassesDivs span {
  display: flex;
  align-items: center;
}
#adminClubScheduleInfoDisplay {
  display: flex;
  flex-direction: column;
}
#adminClubInfoDisplayScheduleToolsBar {

}
#adminClubInfoDisplayScheduleDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#adminClubInfoDisplayScheduleDiv span {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
#adminClubInfoDisplayScheduleDiv span p {
  display: flex;
  align-items: center;
  padding-right: 10px;
  /* justify-content: space-between; */
}
.scheduleRoundPlannerDivs {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  /* width:80%; */
  /* justify-content: space-around; */
}
.scheduleRoundTypeBtnDivs {
  display: flex;
  /* justify-content: space-around; */
  height:50px;
}
.scheduleRoundPlannerBtns {
  padding:0 20 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#154498;
  background:#E1F5FE;
}
#scheduleRoundTimeInputs {
  height: 100px;
}
#scheduleRoundTimeInputs span {
  height: 50px;
}
.scheduleRoundClassesDivs {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.scheduleRoundClassesDivHeaders {
  display: flex;
  height: 50px;
  /* justify-content: center; */
}
.scheduleRoundClassesDivHeaders p {
  display: flex;
  justify-content: center;
  width: 200px;
}
.scheduleRoundClassesDisplayDivs {
  display: flex;
  flex-direction: column;
  align-items:flex-start ;
}
.newScheduleRoundClassesCells {
  display: flex;
  /* justify-content: center; */
}
.newScheduleRoundClassesCells input {
  width: 200px;
}
.scheduleRoundClassesCells {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
}
.scheduleRoundClassesCells p {
  width: 200px;
  /* height: 45px; */
}
.scheduleRoundDivs {
  display: flex;
  flex-direction:column;
  /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.7); */
  /* width: 70%; */
  /* padding:20px; */
}
.scheduleRoundGroupDivs {
  display: flex;
  align-items: center;
  /* justify-content:space-between; */
  height:20px;
}
.scheduleRoundGroupCells {
  display: flex;
  align-items: center;
}
.scheduleRoundEditGroupCells {
  display: none;
}

#adminEventsRegistryControlPanelCell {
  display: flex;
  flex-direction: column;
}
.adminRegistryDivs {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#adminEventRegistryContainer {
  display: none;
  flex-direction: column;
}
#adminRegistryController {
  /*display: none;*/
  /* flex-direction: column; */

}
#registryNoticeDivs {
  display: flex;
  width: 60%;
}
#registryNoticeDivs p {
  width: 100%;
}
#adminEventsRegistryControlPanelCell button {
  width: 75px;
}
#adminRegistryController span button {
  width: 75px;
}
#registryOptionsContainer {
  display: flex;
  flex-direction: column;
}
#registryClassesContainer {
  display: none;
}
.registryOptionCells {
  height: 25px;
}
.registryOptionCells p {
  padding-right: 5px;
}
.numberInputs {
  width: 75px;
}
#adminRegistrationsControl {
  display: flex;
  flex-direction: column;
}
#entryListRegistryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registriesNavs {
  display: flex;
}
.registriesViews {
  display: flex;
  flex-direction: column;
}
.entryListCells {
  display: flex;
  flex-direction: row;
  /*width: 600px;*/
  /*justify-content: space-around;*/
}
.entryListCells p {
  /* width: 150px; */

}
.registriesOptionListCells {
  display: flex;
}
.registriesMembersCellEntriesDisplays {

}
.registriesMembersCellEntries {
  display: flex;
}
.registriesMembersCellEntries p {
  width: 200px;
}
.registriesMembersCellOptionsDisplays {

}
.registriesMembersCellOptions {
  display: flex;
}
.photoCell img {
  max-height: 150px;
  /*max-width: 200px;*/
}
#adminResultsControl {
  flex-direction: column;
}
#adminResultsView {
  display: flex;
  flex-direction: column;
}
#adminResultsClassNav {
  display: flex;
  flex-wrap: wrap;
  background: #E1F5FE;
  border-bottom: 3px solid #154498;
  border-top: 3px solid #154498;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.7);
  /*justify-content: space-between;*/
}
#adminResultsClassNav a {
  font-size: 160%;
  /*width: 270px;*/
  padding: 7px;
  /*border-top: 1px solid #154498;
  border-bottom: 1px solid #154498;*/

  /*width: 250px;*/
}
#adminResultsPointsDisplay {
  display: flex;
  flex-direction: column;
}
#adminResultsPointsDatesDiv {
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
}

#adminResultsPointsDatesDiv p {
  width: 100px;
  text-align: center;
  /*margin-left:1px;*/
  border-left: 1px solid lightgrey;
}
#adminResultsDriversDiv {
  display:flex;
  flex-direction: column;
  /* align-items: flex-end; */
  font-size: 150%;
}
.adminResultsDriversCells {
  display: flex;
}
.adminResultsDriversCells p {
  width: 200px;
  text-align: center;
  display: flex;;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.adminResultsDriversCellsResultsDivs {
  display: flex;
  justify-content: center;
  border-left: 1px solid lightgrey;
}
.adminResultsDriversCellsResultsDivs p {
  width: 50px;
  display: flex;;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#adminEventsControl {
  display: flex;
  flex-direction: column;
}
#adminEventsControl input {
  /*width:auto;*/
  font-size: 150%;
  height: 30px;
}
.timeInputs {
  width: 175px;
}
.numberInputs {
  width: 50px;
}
#adminEventsControlContainer {
  display: flex;
  flex-direction: column;
}
#adminEventsControlContainerDiv {
  display: flex;
}
.adminEventsControlPanels {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  width: 45%;
  padding: 30px;
  min-height: 250px;
}
.adminEventsControlPanelCells {
  display: flex;
  /*align-items: flex-start;*/
  font-size: 125%;
  width: 100%;
  /*margin-bottom: 20px;*/
  padding: 10px;
}
.adminEventsControlPanelCells img {
  max-height: 150px;
}
.adminEventsControlPanelCellDivs {
  display: flex;
  flex-direction: column;
}
.adminEventsControlPanelCellDivs span {
  display: flex;
  align-items: center;
}
.adminEventsControlPanelCellDivs button {
  height: 20px;
  max-width: 70px;
}
#adminEventsImageSelectPanelCell {
  overflow-x: scroll;
}
#adminEventsImageSelectPanelCell img {
  max-height: 100px;
}
#adminEventsPreviewPanelCell {
  display: flex;
  flex-direction: column;
  /*width: 400px;*/
}
.eventsPreviewCells {

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}
.eventsAddPreviewCells {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: lightgreen;
}
.adminEventsControlPanelCells span {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
#adminEventsControlContainerFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#adminEventsControlContainerFooter button {
  height: 35px;
}
#descriptionInput {
  width: 100%;
}
#eventGroupDisplay {
  display: flex;
  flex-direction: row;
}
#adminNewsControl {
  display: flex;
  flex-direction: column;
}
#newsControllerTypeNav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-bottom: 2px solid #154498;
}
#newsControllerTypeNav a {
  padding: 5px;
}
#normalNewsTypeAnc {
  background:#154498;
  color:#E1F5FE;
}
#newsSeriesSelectNav {
  /* border-bottom: 2px solid #154498; */

}
#newsControllerInputDiv {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}
#newsWarningSpan {
  display: flex;
  align-items: center;
  height: 50px;
  /* padding-left: 30px; */
}
#newsWarningSpan p {
  display: none;
  font-size: 30px;
}
.newsInputSpans {
  display: none;
  font-size: 30px;
  align-items: center;
  /* padding: 30px; */
}
.newsInputSpans input {
  height: 40px;
  font-size: 30px;
  margin-right: 70px;
}
.newsInputSpans p {
  margin-right: 10px;
}
#newsNormalInputSpan {
  display: flex;
}
#newsTitleSpan {
  display: flex;
  align-items: center;
  font-size: 30px;

}
#newsTitleSpan input {
  height: 35px;
  width: 200px;
}
#newsTitleSpan p {
  /* padding-left: 30px; */
  padding-right: 10px;
}
#newsArticleDiv {
  /* padding-left: 30px; */
  padding-bottom: 30px;
}
#newsArticleInput {
  height: 100px;
  width: 500px;
  font-size: 20px;
}
.newsSelectNavs {
  display: flex;
  font-size: 40px;
  height: auto;
  padding-left: 20px;
  /* border-bottom: 2px solid #154498; */

}
.newsSelectNavs p {
  margin:0px;
  padding:5px;
}
.newsSelectTags {
  width: 100px;
}
#newsEventSelectNav {
  /* display: none; */
  border-top: 2px solid #154498;
  /* border-bottom: 2px solid #154498; */
}
#noNewsSeriesBtn {

}
#noNewsEventBtn {

}
#saveNewsButton {
  width: 90px;
  height: 40px;
  font-size: 30px;
}


#seriesName {
  width: 50px;
  background: white;
  border: 1px solid #212121;
  display: none;
  flex-direction: column;
  position: fixed;
}
#eventCellContainer {
  display: flex;
  flex-direction: column;
}
.eventCells {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #154498;
}
.eventCellHeaders {
  width: 100%;
  display: flex;
  justify-content: center;
}
.eventCellHeaders h1 {
  width: 300px;
}
.eventCellHeaders a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.eventCellHeaders a img {
  /*width: 20px;*/
  height: 30px;
}
.eventCellInfoContainers {
  display: none;
}
/*header styles*/
#mainHeader {
  background: #E1F5FE;
  border-bottom: 3px solid #212121;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
  color: white;
  /* height: 150px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#headerContainer {
  display: flex;
  height: 100px;
}
#headerBottomBar {
  background:#154498;
}
#headerNewsPrompter {
  height: 50px;
  padding: 10px;
  display: flex;
  background:#154498;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  /* font-size: 85%; */
  border-top: 1px solid #154498;
  overflow-x: hidden;
  overflow: hidden;
  /* animation-name: move;
  animation-duration: 210s;
  animation-timing-function: linear;
  animation-delay: 0; */
  /* animation-direction: reverse; */
  /* animation-iteration-count: infinite;
  animation-fill-mode:forwards;
  animation-play-state: running; */

}
#headerNewsPrompter h2 {
  /* min-width: 150px; */
  /* height: 20px; */
  font-size: 40px;
  text-align: center;
  overflow-x: hidden;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
}
.bannerDivs {
  display: flex;
  /* justify-content: space-between; */
  width: 100vw;
}
#welcomeBannerDiv {
  width: 100vw;
}
#eventsBannerDiv {
  margin-left: 100vw;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: 35px;
  /* background: white; */
}
#eventsBannerDiv p {
  min-width: 300px;
}
#newsBannerDiv {
  margin-left: 110vw;
  width: 100vw;
  font-size: 35px;
  align-items: center;
  /* background: white; */
}
#newsBannerDiv p {
  min-width: 250px;
}
.bannerEventCells {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
#pointsBannerDiv {
  width: 100vw;
  margin-left: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}
#pointsBannerDiv p {
  padding: 20px;
  font-size: 35px;
}
.bannerNewsCells {
  display: flex;
  align-items: center;
}
#pointsBannerContainer {
  /* width: 80vw; */
  /* background: white; */
  color: black;
  display: flex;
  /* font-size: 35px; */
  /* justify-content: space-between; */
  overflow: hidden;
}
#bannerPointsClassCell0 {
  margin-left: 0px;
}
.bannerPointsClassCells {
  margin-left: -100vw;
  /* width:80vw; */
  /* margin-right:-40vw; */
  /* margin-left: 500px; */
  /* margin-left:80vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  /* justify-content: space-between; */
}
.bannerPointsClassCells h3 {
  /* width: 200px; */
  padding: 10px;
  min-width: 200px;
}
.bannerPointsClassCells p {
  min-width: 350px;
  padding: 20px;
  font-size: 15px;
  height: 25px;
  display: flex;
  align-items: center;
}
.bannerPointsCells {

}
#resultsPromptTitleSpan {
  overflow-x: hidden;
  overflow: hidden;
}
#resultsPromptTitleSpan h1{
  /* height: 100%; */
  min-width: 1200px;

  display: flex;
  align-content: center;
  margin-right: 20px;
  /* min-width: 150px; */
  /* overflow-y: hidden; */
  /* overflow:hidden; */
  font-size: 300%;
  text-align: center;
}
.resultsPromptDivs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.resultsPromptDivSpans {
  height: 50px;
  display: flex;
  margin-left: 20px;
  align-items: center;

  /* flex-direction: column; */


  /* justify-content: space-between; */
}
#newsPromptSpan {
  min-width: 30%;
  justify-content: center;
}
#newsPromptSpan h3 {
  min-width: 250px;
  display: flex;
  justify-content: center;
}
@keyframes move {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -2700%;
  }
}
.resultsPromptDivSpans h3 {
  min-width: 550px;
  padding: 15px;
  font-size: 400%;
  display: flex;
  align-content: center;
}
.resultsPromptDivSpans h1 {
  font-size: 500%;
}

#headerLogo {
  max-width: 200px;
}
#headerSideContainer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#headerInfoDisplay {
  display: flex;
  width: 980px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
.headerInfoCell {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 450px;
  height: 18px;
  color: #212121;
}
#signInUpHeaderInfoCell {
  /* display:flex; */
}
#userHeaderInfoCell {
  display: none;
}
#headerNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: flex-end;
  color: white;
  font-size: 140%;
  /* margin-bottom: 0px; */
}

#headerNav img {
  width: 150px;
  height: auto;
}
.headerNavSide {
  width: 35vw;
  font-size: 80%;
  /*border: 1px solid #212121;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*parent styles*/
.parentDisplays {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminControlGroups {
  display: flex;
  width: 100%;
  overflow-x: none;
}

/*kart owners styles*/
.pageHeaders {
  width: 100%;
  height: 100px;
  background: white;
  border-top: 4px solid #154498;
  border-bottom: 4px solid #154498;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}
#kartOwnersPageHeader {


}
#kartOwnersPageHeader p {

}
.pageInfoCells {
  width: 100%;
  padding: 30 0 30 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);

}
.pageInfoSplitters {
  width: 100%;
  height: 80px;
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#kartOwnersIntroCell {
  background: #154498;
  /*margin-top: 20px;*/
}
#kartOwnersPricesInfoCell {
  background: #E1F5FE;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);
}
#kartOwnersHoursInfoCell {
  background: #154498;
}
#KartOwnersRulesInfoCell {
  background: #E1F5FE;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.7);
}
#rentalKartsIntroCell {
  background: #154498;
}
#rentalKartsCorporateEventsInfoCell {
  background: #E1F5FE;
}
.pageInfoTextContainers {
  width: 650px;
  padding: 20px;
  margin:10px;
  font-size: 140%;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.pageInfoTextContainers a {
  color: #2196F3;
}
.pageInfoTextContainerDivs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 160%;
}
#kartOwnersIntroTextContainer {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
#kartOwnersIntroTextContainer a {
  color: #2196F3;
}
#kartOwnersPricesTextContainer {
  background: rgba(0,0,0,0.5);
  color: white;
}
#kartOwnersHoursTextContainer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
#kartOwnersRulesTextContainer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
#rentalKartsIntroTextContainer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
#rentalKartsCorporateEventsTextContainer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.pageInfoImageContainers {
  /*max-width: 400px;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: space-around;
}
#kartOwnersIntroImageContainer {
  /*width: 300px;*/
}
.pageInfoImageContainers img{
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.7);
  max-height:300px;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
}
/*series styles*/
#seriesParentDisplay {
  /*background: #154498;*/
  /*height: 550px;
  width: 1100px;
  box-shadow: 0px 0px 4px 2px #212121;
  display: flex;
  flex-direction: column;*/

}
.seriesPageInfoContainers {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#seriesNavBar {
  width: 100%;
  border-bottom: 3px solid #154498;
  font-size: 120%;
  height: 90px;
  /*padding: 5px;*/
  color: white;
  background: #154498;
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: center;
  /*text-align: center;*/
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7);
}
#seriesNavBar a {
  color: #E1F5FE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 150px;
}

#seriesAboutInfoCell {
  background: #E1F5FE;
}
#seriesAboutFormatInfoCell {
  background: #154498;
}
#seriesAboutRentalSpacesInfoCell {
  background: #E1F5FE;
}
#seriesClassesInfoCell {
  background-image: url('../images/IMG_6855.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
#seriesAboutFormatTextCell a {
  color: #2196F3;

}
#seriesRulesInfoCell {
  background: #154498;
}
#seriesTranspondersInfoCell {
  background: #E1F5FE;
}
#classListAndRulesDisplay {
  padding: 10px;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  width: 900px;
}
#classListAndRulesNav {
  display: flex;
  flex-direction: column;
  width: 200px;
}
#classListAndRulesNav a {
  color:  #2196F3;
  margin-bottom: 6px;
  border-bottom: 1px solid white;
}
#classListAndRulesDisplayTextContainer {
  width: 650px;
  overflow-y: scroll;
}
.seriesAnchorGroups {
  display: flex;
  flex-direction: column;

}
.seriesAnchorGroups a {
  color: #2196F3;
}



#homeDisplay {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
}
#homeWelcomeView {
  background-image:url('../images/ncmp_turn1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-top:20px;*/
  box-shadow: 0px 0px 4px 0px #212121;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#welcomeViewContentContainer {
  /*height: 50%;*/
  /*width: 100%;*/
  padding: 40px;
  display: flex;
  justify-content: flex-start;
}
#welcomeViewContentContainer img {
  height: 170px;

}
#welcomeQuickView {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* height: 40px; */
  /* background:rgba(0, 0, 0, 0.5); */
  /* margin-bottom: 0px; */
}
#welcomeEventQuickView {
  padding: 20px;

}
.welcomeQuickViewContainers {
  padding: 20px;
  min-width: 330px;
}
.welcomeQuickViewContainers span {
  padding-left:10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  background:#154498;
}
.welcomeQuickViewContainers h2 {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}
.welcomeQuickViewContainers a {
  color: #E1F5FE;
  padding-left: 20px;
  padding-right: 10px;
}
#welcomeQuickView span p {
  padding-right: 10px;
  color: white;
}
#welcomeViewNav {
  height: 60px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 200%;
  background: rgba(0, 0, 0, 0.5);
}
#welcomeViewNav a {
  height: 60px;
  width: 250px;
  /*padding: 0 10 0 10px;*/
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #154498;
  color: white;
  box-shadow: 0px 2px 4px 0px #212121;
}
#homeSponsorContainer {
  width: 100%;
  height: 130px;
  /*padding: 10px;*/
  background: #154498;
  margin-top: 20px;
  /*border-bottom: 2px solid #212121;*/
  box-shadow: 0px 2px 5px 0px #212121;
  overflow-x: hidden;
  display: flex;
  /*flex-wrap: nowrap;*/
  align-items: center;
}

#sponsorContainerView {
  /*animation-duration: 15s;*/
  animation: 15s linear slidein;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: white;
  /*width: 100%;*/
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#sponsorContainerView:hover {
  -webkit-animation-play-state: pause;
  -moz-animation-play-state: pause;
  -o-animation-play-state: pause;
  animation-play-state: pause;
  }

@keyframes slidein {
  from {
    margin-left: 100%;
    /*width: 100%; */
  }

  to {
    margin-left: -50%;
    /*width: 100%;*/
  }
}

/*#homeSponsorContainer a {
  animation: 3s infinite alternate slideIn;
}*/
.sponsorCell {
  height: 100px;
  background: white;
}
#homeNewsView {
  background: #154498;
  height: 600px;
  width: 80vw;
  box-shadow: 0px 0px 4px 0px #212121;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
#homeNewsViewContainer {
  display: flex;
  width: 100%;
  /*padding: 10px;*/
  height: 100%;
  /*justify-content: space-between;*/

}
#homeNewsViewContentContainer {
  width: 100%;
  /*height: 100%;*/
  padding: 10px;
  display: flex;
}
#homeNewsViewContent {
  width: 100%;
  /*height: 100%;*/
  background: #E1F5FE;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}
.viewContentDiv {
  display: flex;
}
#topViewContentDiv {
  justify-content: flex-start;
  /*align-items: center;*/
  padding: 10px;
  height: 330px;
}
#bottomViewContentDiv {
  padding-left: 20px;
  padding-right: 20px;
  /*font-size: 150%;*/
  /*align-items: center;*/
  background: rgba(0, 0, 0, 0.7);
  /*background: white;*/
  height: 180px;
  overflow-y: scroll;
  margin-top: 0px;
  color: #E1F5FE;
  margin-bottom: 0px;
}
#topViewContentInfo {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: space-around;*/
  width: 200px;
  padding: 10px;
  height: 100px;
  color: #212121;
  /*box-shadow: 0px 2px 3px 0px;*/
  border-radius: 4px;
  /*border-radius: 70px;*/
  /*margin-top: 0px;*/
  /*padding: 10px;*/
}
#topViewContentInfo h1 {
  /*margin-bottom: 0px;*/
  /*height: 10px;*/
  display: flex;
  align-items: center;
  /*border: 1px solid #212121;*/
  font-size: 180%;
}
#topViewContentInfo h2 {
/*height: 30px;*/
display: flex;
align-items: center;
/*margin-top: 0px;*/
/*border: 1px solid #212121;*/
}
#topViewContentInfo p {
  display: flex;
  align-items: center;
}
#topViewContentDiv img {
  /*max-width: 250px;*/
  max-height: 150px;
  border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

}
#homeNewsViewNav {
  width: 25%;
  border-left: 1px solid #E1F5FE;
  margin-right: 0px;
}
#bottomViewContentDiv {
  font-size: 150%;
  flex-direction: column;
}
#bottomViewContentDiv h3 {
  height: 50px;
  text-decoration: underline;
}
#bottomViewContentDiv p {
  /*margin-top: 0px;*/
}
#bottomViewContentDiv a {

}
.homeNewsViewNavDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*margin-right: 0px;*/
  /*background: #E1F5FE;*//
}
.homeNewsViewNavDivHeader {
  background: #E1F5FE;
  height: 45px;
  font-size: 140%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.homeNewsViewNavDivCell {
  font-size: 125%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border-bottom: 1px solid #154498;*/
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: white;
}
.homeNewsViewNavDivCell p {
  /*height: 100%;
  width: 100%;*/
}
.homeNewsViewNavDivCell a {
  color: white;
}


#registrationParentDisplay {
  padding: 20px;
  background: #E1F5FE;

}
#registrationForm {

}
#regFormOptionDiv {
  font-size: 120%;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  background: white;
  margin-top: 20px;
  padding: 20px;
}
#driverInfoRegFormDiv {

}
#newDriverBtn {
  height: 40px;
  border-radius: 4px;
  margin: 20px;
  font-size: 120%;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);

}
.driverInfoRegFormCells {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  background: white;
  margin-top: 20px;
}
.classSelectSpans {
  width: 400px;
  height:50px;
}
.driverNameInputSpans {
  font-size: 130%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.driverNameInputSpans h3 {
  font-size: 140%;
}
.driverNameInputSpans input {
  margin-left: -10px;
}
.driverInfoContainers {
  display: flex;
  flex-direction: row;
  width:100%;
}
.classSelectContainers {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-around;
}
.classSelectContainers p {
  width: 100%;
}
.classSelectContainerDivs {
  display: flex;
  flex-direction: column;
}
.classSelectContainerDivs p {
  width: 100%;
}
.selectedClassSpans {
  height: 40px;
}
.selectedClassesInfoDivs {
  display: flex;
  flex-direction: column;
  width:400px;
}
.selectedClasses {
  display: flex;
  flex-direction: column;
}
.regFormDivs span {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* width: 400px; */
}
.regFormDivs input {
  height: 40px;
  font-size: 120%;
}
.regFormDivs p {
  width: 100px;
  display: flex;
  justify-content: center;
}
.classSelectDivs {
  /* height: 50px; */
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /*overflow:*/
  /*width: 150px;*/
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 300px;
}
.classSelectDivs span {
  height: 30px;
  /*width: 100%;*/
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.classSelectDivs p {
  /*width: 50px;*/
}
#availableClassesHeader {
  height: 10px;
  padding: 5px;
}
#selectedClassesDiv {

}
#regFormCostsDiv {
  width: 80vw;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  background: white;
  margin-top: 20px;
  font-size: 140%;
  display: flex;
  flex-direction: row;
}
.rentTransponderSpan {
  /* margin-right: 40px; */
  height: 40px;
  font-size: 140%;

}
.rentTransponderSpan p {
  width: 200px;
}
.regFormCostsSplitters {
  width:50%;
  /* height:400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
}
.totalCostContainers {

}
.totalCostContainerSpans {
  justify-content: space-between;
}
#totalEntryCostsContainer {
  border-bottom: 1px solid #154498;
}
#totalEntryCostContainerHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#memberOptRegFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  background: white;
  margin-top: 20px;
  /* font-size: 140%; */
}
#memberOptRegFormDiv a {
  display: flex;
  justify-content: center;
  font-size: 200%;
}
#memberOptRegFormDiv p {
  width: 100%;
  text-align: center;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tempMemberNameInput {
  width: 360px;
}
#tempMemberStateInput {
  width: 70px;
}
#tempMemberCityInput {
  width: 210px;
}
#tempMemberFormContainer {
  display: flex;
  flex-direction: row;
}
#tempMemberFormNotifyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#tempMemberFormNotifyContainer span {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#tempMemberFormNotifyContainer input {
  width: auto;
}
.tempMemberFormDivs span {
  width:100%;
  height: 60px;
}
.tempMemberFormDivs p {
  width: 50px;
}
.tempMemberFormDivs span input {
  width: 360px;
}
#tempMemberInfoFormDiv p {
  width: 60px;
  padding: 10px;
}
#tempMemberFormDivLocInputSpan {
  border-bottom: 1px solid #154498;
}
.tempMemberFormDivs {
  width: 50%;
  padding: 20px;
}
#kartSpecsRegFormDiv p {
  width: 400px;
  text-align: center;
  font-size: 125%;
}
#classSelectContainer {
  flex-direction: column;
  justify-content: center;
}

.mainRegistryCells {
  /* padding: 10px; */
}
.mainRegistryCells h2 {
  padding-left: 10px;
  padding-right: 10px;
}
.registriesNavs {
  border-top: 3px solid #154498;
  border-bottom: 3px solid #154498;
}
.registriesNavs a {
  height: 30px;
  font-size: 150%;
  padding: 10px;
}

.registryClassCell h1 {
  height: 20px;

}

.registryClassCell {
  /* font-size: 10px; */
  color: #154498;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height:50px; */
}

.regListLengthsCell {
  background: white;
  font-size: 22px;
  border: 1px solid #154498;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#entryListRegistryDiv {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#entryListHeader {
  /* width: 800px; */
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
#entryListHeader h3 {
  width: 150px;
}
.entryListCells {
  width: 100%;
  background: #154498;
  color: #E1F5FE;
  display:flex;
  justify-content: center;

}
.entryListCells p {
  width: 150px;
  font-size: 150%;
}
.entryCellNumbers {
  display: flex;
  justify-content: center;
}
.entryCellTransponders {
  display: flex;
  justify-content: flex-end;
}

/*calendar styles*/



#calendarDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid #212121;*/
  /*background: blue;*/
  width: 80vw;
  /*height: 520px;*/

}
  #calendarHeader {
    display: flex;
    border-bottom: solid #212121 1px;
    /*padding-left: 20px;
    padding-right: 20px;*/
  }
    #calendarHeader li {
      width: 130px;
      display: flex;
      justify-content: center;
    }
  #calendarContainer {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    width: 917px;
    /*height: 500px;*/
    border-left: 1px solid #212121;
    border-top: 1px solid #212121;
    color: black;
  }
  .calendarCelltrue {
    height: 100px;
    width: 130px;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    background: #f5f5f5;
    text-align: center;

  }
  .calendarCellfalse {
    height: 100px;
    width: 130px;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    background: #E0E0E0;
    text-align: center;

  }
  .calendarCellContainer {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
  }
  .calendarCellHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    align-items: center;
  }
  .calendarCellHeader img {
    height: 20px;
    opacity: 0.5;
  }

  /*minified calendarView*/
  #calendarPageHeader {
    justify-content: space-around;
  }

  #calendarPageHeaderEventDisplay {
    display:flex;
  }
  #calendarViewSelect {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding: 20px;
  }
  #calendarViewSelect img {
    height: 28px;
  }
  #scheduleSeriesView {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 200%;
    /*width: 100%;*/
    /*width: inherit;*/
    /*background: blue;*/
  }

  #calendarExpandedView {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #E1F5FE;
  }
  #calendarExpandedViewInfoCell {

    display: flex;
    flex-direction: column;

    /*padding: 30px;*/
    align-items: center;
    /*background: rgba(0, 0, 0, 0.5);*/
  }
  #calendarExpandedViewTextContainer {
    width: 80%;

  }
  #calendarExpandedViewHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #calendarExpandedViewHeader h2 {
    margin: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
  }
  #calendarExpandedViewHeader a {
    color: #2196F3;
  }
  #calendarMinifiedView {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    width: 100%;
    /*height: 500px;*/
    background: #E1F5FE;
    /*padding: 30px;*/
  }
  #calendarMinifiedViewInfoCell {
    width: 900px;
    /*height: 300px;*/
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  }
  .miniCalendarCell {
    width: 203px;
    height: 190px;
    /*border: 1px solid white;*/
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .miniCalendarCell h3 {
    font-size: 100%;
    padding: 0px;
    height: 10px;
  }
  .miniCellHeader {
    display: flex;
    list-style: none;
    justify-content: space-around;
    /*padding: 1px;*/
    width: 100%;
    /*height: 20px;*/
    /*border: 1px solid #212121;*/
  }
  .miniCellHeader li {
    /*height: 20px;*/
    /*border: 1px solid #212121;*/
    /*margin-right: 1px;*/
    width: 18px;
    text-align: center;
  }
  .miniCellContainer {
    /*width:auto;*/
    /*height: 100%;*/
    /*border-left: 1px solid #212121;*/
    /*border-top: 1px solid #212121;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);

  }
  .miniCellMiniCell {
    height: 20px;
    width: 28px;
    border-bottom: 1px solid #212121;
    border-right: 1px solid #212121;
  }
  #calendarListView {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


.signUpPersuasionDivs {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signInRedirectSpan {
  display: flex;
  align-items: center;

}
#signInRedirectSpan p {
  width: 320px;
  font-size: 140%;
}
#signInRedirectSpan a {
  font-size: 140%
}
.signUpPersuasionDivs p {
  font-size: 140%;
  width:80%;
}
.loginDisplays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../images/NCMP-Logo-2017-FINAL.GIF");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
#accntCreationForm {
  display: flex;
  flex-direction: column;
}
#signInGreetingDiv {
  width: 80%;
  padding: 30px;
  font-size: 50px;
  display: flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items: center;
}
#greetingSpan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 140%;
  width: 80%;
}
#greetingSpan p {
  text-align: center;
}
#greetingSpan a {
  text-decoration: underline;
}
#successfulSignUpGreatingDiv {
  font-size: 140%;
}
#skipGreetingSpan {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#skipGreetingSpan p {
  width: 80%;
}
.loginForms {
  display: flex;
  width: 80%;
  padding: 50px;
  flex-direction: column;
  background: rgba(224, 244, 254, 0.85);
  /* padding-left: 50px; */
  border:1px solid #154498;
  box-shadow: 0px 0px 3px 1px  rgba(25, 89, 167, 0.7);
  border-radius: 4px;
}
.loginForms span {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content:  flex-start;
  font-size: 140%;
}
.loginForms input {
  height: 40px;
  width: 200px;
  font-size:120%;
  background: rgba(25, 89, 167, 0.5);
  color: white;
}
.loginForms span p {
  width: 90px;
  padding: 5px;
}
.loginForms button {
  width: 140px;
  height: 60px;
  border-radius: 2px;
  border-width:5px;
  border-color: #154498;
  color: #154498;
  font-size: 150%;
  font-weight: bolder;
}
.loginOptions {
  display: flex;
  flex-direction: column;
}
.authSpans {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 70px; */
}
.authSpans p {
  width: 120px;
}
.authSpans input {
  width: 400px;
}
.errorNotices {
  color: red;
  font-size: 110%;
  font-weight: bolder;
  width: 200px;
  display: none;
  flex-wrap: nowrap;
  padding-left: 12px;
  /* justify-content: center;
  align-content: center; */
}
#emailErrorMessage {
  width:200px;
}
#passwordErrorMessage {
  width:250px;
}
#newAccountLoginForms {
  width: 80%;
  padding: 70px;
  /* font-size: 140%; */
  background: rgba(224, 244, 254, 0.85);
  padding-left: 50px;
  /* border:1px solid black; */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}

#signUpDisplay {
  display: none;
}
#signInDisplay {
  /*display: none;*/
  /* width: 80%; */
  padding: 70px;
  /* background: rgba(224, 244, 254, 0.7); */
  /* padding-left: 50px; */
  /* border:1px solid black; */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}
#accCreatedDisplay {
  display: none;
}
/* Member Form */
#newMemberAboutDiv {
  font-size: 150%;
}
#memberHeaderDivContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #154498;
}
#membershipFormDisplay {
  display: flex;
  justify-content: center;
  background:#E1F5FE;
}
.memberInfoDivs {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 200px; */

}
.famMemDriverCell {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #154498;
}
#familyMemberParentLocDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#familyMemberParentLocDiv span {
  width: auto;
  display: flex;
  justify-content: flex-end;
}
.memberInfoDivContainers {
  /* width:40%; */
  padding:30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#memberParentDivContainer {
  font-size: 150%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  /* border-bottom: 2px solid #154498; */
  /* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7); */
}
#memberParentDivContainer input {
  height: 30px;
  width: 300px;
  font-size: 110%;
  display: flex;
  flex-direction: row;
  /* margin-right: 10px; */
}
.memberParentInfoDivLeftContainers {
  height: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid #154498;
}
.memberParentInfoDivLeftContainers p {
  width: 100px;
  text-align: right;
}
.memberParentInfoDivRightContainers {
  height: 220px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid #154498;

}
#memberParentDivContainer span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
}
#memParentNameSpan input {
  height: 30px;
  font-size: 110%;
  margin-right: 10px;
}
.memberInfoLeftDivContainers {
  display: flex;
  flex-direction: column;
}
.memberInfoLeftDivContainers h2 {
  margin-left: 40px;
}
.memberDivContainers {
  width: 100%;
  display: flex;
  justify-content: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.memberInfoIdInputDivs {
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  /* height:100%; */
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid #154498;
}
.memberInfoIdInputNameDivs {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.memberInfoIdInputNameDivs input {
  height: 40px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 5px;
  font-size: 130%;
  padding: 0px 10px 0px 10px;
}
.memberInfoIdInputNameDivs p {
  height: 10px;
}
.memberInfoIdInputDivs span {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
#memberStateInput {
  width: 60px;
}
#familyMemberInfoDiv {
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  /* justify-content: center; */
  align-items: center;
}
#singleMemberInfoDiv {
  /* background: white; */
}
#singleMembershipFormDisplay {
  background: white;
}
#memberFormSingleSelectAnchor {
  font-size: 30px;
}
.memberFormSelectAnchors {
  padding:10px;
  font-size: 18px;
}
#memberInfoDivRightContainer {
  display: flex;
  flex-direction: column;
}
#memberInfoDivRightContainer textarea {
  width: 500px;
  /* font-size: 20px; */
}
#memberInfoDivRightContainer span {
  display: flex;
  flex-direction: row;
}
#memberInfoDivRightContainer span p {
  width: 50px;
}
#totalTempMemCostContainerSpan {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #154498;
  /* align-items: space-between; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */

}
#totalTempMemCostContainerSpan p {
  /* width: 100px; */
}
.regPriceTotals {
  width:auto;
  width: 100px;
}
#memberInfoDivRightContainer span input {
  width: 200px;
  height: 40px;
}
#updateInputSpans p {
  width:auto;
}
#updateInputLabel {
  width:150px;
}



.memberInfoAboutInputs {
  width: 100%;
  height: 180px;
  padding: 1px;
  font-size: 21px;
  /* vertical-align:text-top; */
}
.memberInfoSocialSpans {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 140%;
}
.memberInfoSocialSpans input {
  height: 30px;
  margin-left: 10px;
}
.memberInfoTopInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid grey;
}
/* .memberInfoTopInputs input {
  height: 40px;
  font-size: 110%;
  margin-top: 10px;
} */
.memberInfoBottomInputs {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
}
.addMemberClassButtons {
  width:40px;
  height: 40px;
  font-size: 130%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memberInfoBottomInputs h3 {
  height: 30px;
  margin-bottom: 0px;
}
.memberInfoBottomInputs p {
  /* height: 20px; */
  margin-top: 0px;
}
.memberClassSelectInputDivs {
  /* width: 400px; */
  padding: 20px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.memberClassSelectInputDivs button {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 15px;
}
.memberClassSelectInputDivs input {
  height: 40px;
  font-size: 140%;
  margin-left: 10px;
  width:200px;
  display: flex;
  align-items: center;
}
.memberKartNumberInputs {
  width: 40px;
}
#memberKartNumberInput {
  width:60px;
}
.memberClassSelectInput {
  width: 100px;
  height: 40px;
}
.memberClassOptions {
  /* width: 40px; */
}
.initAndBdaySpans {
  width:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.initInputs {
  width: 38px;
}
.initAndBdaySpans span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 0px; */
}
.initAndBdaySpans span input{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
}
/* #initAndBdaySpan input {
  height: 30px;
  width: 120px;
} */


.memberPictureInputDivs {
  /* width:200px; */
  height:200px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.memberPictureInputDivs input {
  font-size: 90%;
  /* width: 100%; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.9); */

}
.memberPictureInputDivs img {
  height: 150px;
  width: 150px;
  /* height: 150px; */
  border-radius: 75px;
  image-orientation: center;
  /* border-radius: 50px; */
  background-position: center;
  background-size:auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.9);
  /* padding:15px; */
  /* border: 1px solid #154498; */
  /* -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); */
}
#memberImagePreviews {
  /* height:auto;
  width:auto; */
  /* background:url('../images/placeholder-profile-pic.png'); */
  /* -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); */
}
.memberNameInputs {
  width: 300px;
}

#familyMemberInfoDivContainer {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

.formDisplays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.formDisplays span {
  display: flex;
  align-items: center;
}
.membershipFormDisplays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 150%;
  /*border: 1px solid black;*/
  /*border: 1px solid black;*/
}
.membershipFormDisplays span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 350px;
}
.membershipFormDivs {
  /*font-size: 150%;*/
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid black;*/

}
.membershipFormDisplays p {
  width: 150px;
}
.membershipFormDisplays input {
  height: 100%;
}
.memClassSelectSpans {
  /*display: none;*/

}
.numberInputAlerts {
  display: none;
  color: red;
}

#singleMembershipFormPersonalDiv p {
  width: 150px;
}

.StripeElement {
  /*display: flex;*/
  /*flex-direction: row;
  align-content: center;*/
  background-color: white;
  width: 400px;
  font-size: 150%;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**/
footer {
  background: #154498;
  width: 100%;
  height: 200px;
  box-shadow: 0px -2px 3px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#socialMediaFooterNav {
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
