<div class="parentDisplays" id="adminDisplay" ng-controller="adminCtrl">

  <div class="pageHeaders">

    <p>Admin Controller</p>

  </div>

  <div id="adminPageNav">

    <a href="" class="adminDisplayBtns" id="adminManagerDisplayBtn" ng-click="changeAdminDisplay('Manager')">Quick Manager</a>
    <a href="" class="adminDisplayBtns" id="adminEventsDisplayBtn" ng-click="changeAdminDisplay('Events')">Events</a>
    <a href="" class="adminDisplayBtns" id="adminRegistrationsDisplayBtn" ng-click="changeAdminDisplay('Registrations')">Registrations</a>
    <a href="" class="adminDisplayBtns" id="adminNewsDisplayBtn" ng-click="changeAdminDisplay('News')">News</a>
    <a href="" class="adminDisplayBtns" id="adminRulesDisplayBtn" ng-click="changeAdminDisplay('Rules')">KRA Rules/Schedule</a>
    <a href="" class="adminDisplayBtns" id="adminImagesDisplayBtn" ng-click="changeAdminDisplay('Images')">Images</a>
    <a href="" class="adminDisplayBtns" id="adminResultsDisplayBtn" ng-click="changeAdminDisplay('Results')">Results</a>
    <a href="" class="adminDisplayBtns" id="adminAccountsDisplayBtn" ng-click="changeAdminDisplay('Accounts')">Accounts/Drivers</a>
    <a href="" class="adminDisplayBtns" id="adminSettingsDisplayBtn" ng-click="changeAdminDisplay('Settings')">Settings</a>

  </div>

  <div class="adminControlGroups" id="adminManagerControl">

    <!-- <a href="">Register New Accounts</a>
    <a href="">Register Drivers to Races</a> -->

    <div class="adminManagerControlDivs" id="adminManagerRegisterAccountDiv">

      <h3>New Account</h3>

      <span>
        <p>Email</p>
        <input type="text" name="" value="" ng-model="manager.inputs.newAccountEmail">
      </span>
      <span>
        <p>Password</p>
        <input type="text" name="" value="" ng-model="manager.inputs.newAccountPassword">
      </span>

      <a href="" ng-click="createAccount()">Create Account</a>

    </div>
    <div class="adminManagerControlDivs" id="adminManagerRegisterMembershipDiv">

      <h3>New Membership</h3>

      <span>
        <p>Account</p>
        <input type="text" name="" value="" ng-model="manager.inputs.newMembershipAccountInput">
        <button type="button" name="button" ng-click="openAccountsList()">Accounts</button>
        <h3 ng-if="manager.inputs.membershipExists" style="color:red;">Already Member</h3>
      </span>
      <div class="" id="adminManagerControlAccountListDiv">
        <div class="adminManagerControlAccountCells" ng-repeat="a in people">
          <a ng-click="selectAccount(a)">{{a.email}}</a>
        </div>
      </div>
      <div class="adminManagerRegisterMembershipDriverCells">

        <h3>Drivers</h3>
        <span>
          <p>Driver</p>
          <input autocomplete="off" type="text" name="newDriver" value="" ng-model="manager.inputs.newMembershipNewDriver">
          <a href="" ng-click="addDriverToNewMembership()">Add</a>
        </span>
        <p ng-repeat="d in manager.inputs.newMembershipDrivers">{{d}}</p>

      </div>
      <!-- <a href="">New Driver</a> -->

      <a href="">Save Membership</a>

    </div>
    <div class="adminManagerControlDivs" id="adminManagerRegisterRacerDiv">
      <h3>Register Racer</h3>
      <span>
        <p>Event</p>
        <h2 style="color:{{nextEvent.color}};">{{nextEvent.name}}</h2>
      </span>
      <span>
        <p>Driver</p>
        <div class="adminManagerControlRegisterRacersSearchDivs" id="adminManagerControlRegisterRacersDriverSearchDiv">
          <input type="text" name="" value="" ng-model="manager.inputs.registerRacerDriverInput">
          <button type="button" name="button" ng-click="openDriversList()">Drivers</button>
          <div class="" id="adminManagerControlRegisterRacersDriverListDiv">
            <div class="adminManagerControlRegisterRacersDriverListDriverCells" ng-repeat="d in drivers">
              <a ng-click="selectRegisterRacersDriver(d)">{{d.fName}} {{d.lName}}</a>
            </div>
          </div>
        </div>
      </span>
      <span>
        <p>Class(es)</p>
        <div class="adminManagerControlRegisterRacersSearchDivs" id="adminManagerControlRegisterRacersDriverSearchDiv">
          <input type="text" name="" value="" ng-model="manager.inputs.registerRacerClassInput">
          <button type="button" name="button" ng-click="openClassesList()">Classes</button>
          <input style="width:40px;" type="text" placeholder="##" name="" value="" ng-model="manager.inputs.registerRacerClassNumber">
          <a href="" ng-click="addClassToRegisterRacers()">Add</a>
          <div class="adminManagerControlRegisterRacersListDivs" id="adminManagerControlRegisterRacersClassesListDiv">
            <div class="adminManagerControlRegisterRacersDriverListCells" ng-repeat="c in announcements.banner[0][0].registration.registry_data.classes">
              <a href="" ng-click="selectRegisterRacersClass(c)">{{c.name}}</a>
            </div>
          </div>
        </div>
      </span>
      <p ng-repeat=" c in manager.inputs.registerRacerClasses">{{c.class.name}} #{{c.number}}</p>
      <a href="">Register</a>
    </div>

  </div>

  <div class="adminControlGroups" id="adminAccountsControl">

    <div class="adminDriversDiv">

      <h2>Drivers</h2>

      <div class="adminDriversHeader">


      </div>

      <div class="adminAccountsDriverCells" ng-repeat="driver in driversToShow">

        <img src="{{driver.image}}" alt="" ng-if="driver.image != ''">
        <img src="../images/placeholder-profile-pic.png" alt="" ng-if="driver.image == ''">

        <span class="adminAccountsDriverCellsNames">

          <p>{{driver.fName}}</p>
          <p>{{driver.mName}}.</p>
          <p>{{driver.lName}}</p>

        </span>
        <span>
          <span ng-repeat="cl in driver.classes" ng-if=" cl && cl.name != ''">
            <p>{{cl.name}}</p>
            <p>#{{cl.number}}</p>
          </span>
        </span>

      </div>

    </div>

    <div class="adminAccountsDiv">

      <h2>Accounts</h2>

      <div class="" id="adminAccountsHeader">
        <!-- <span>addNewAccount
        </span> -->
        <p>Email</p>
        <input type="text" name="" value="" ng-model="newAccount.email">
        <p>Password</p>
        <input type="text" name="" value="" ng-model="newAccount.password">
        <p>Check Password</p>
        <input type="text" name="" value="" ng-model="newAccount.checkPassword">
        <button type="button" name="button" ng-click="addNewAccount()">Add Account</button>
      </div>

      <div class="" id="adminAccountsNav">
        <p>Search</p>
        <input type="text" name="" value="" ng-model="searchAccounts.email">
        <p>Members Only</p>
        <input type="checkbox" name="" value="" ng-model="searchAccounts.membersOnly" ng-change="filterAccounts()">
      </div>

      <div class="accountCells" ng-repeat="person in peopleToShow | filter:searchAccounts.email:strict">

        <p>{{person.email}}</p>
        <a href="" ng-if="person.membership != null">Membership</a>
        <a href="" ng-if="person.membership == null">Add Membership</a>

        <a href="">Edit</a>

      </div>

    </div>


  </div>

  <div class="adminControlGroups" id="adminRulesControl">

    <div class="adminClubDisplays" id="adminClubRulesDisplay">

      <div class="adminClubDisplayHeaders">
        <div class="adminClubDisplayTitleDivs">

          <h3>Rules</h3>
          <h3>|</h3>
          <h3>{{clubRules.ruleLists[clubRules.currentList].name}}</h3>
          <h3>|</h3>
          <a href="" ng-if="clubRules.inputs.edit == false" id="clubRulesEditBtn" ng-click="editClubRules()">Edit</a>
          <a href="" ng-if="clubRules.inputs.edit == true" id="cancelClubRulesEditBtn" ng-click="cancelClubRulesEdit()">Cancel</a>


        </div>
        <div ng-if="clubRules.inputs.edit == true" class="adminClubDisplayEditBars">
          <div class="adminClubDisplayListDivs">
            <a href="" id="clubRulesList{{l.id}}" ng-repeat="l in clubRules.ruleLists" ng-click="thisRuleList(l.id)">{{l.name}}</a>
          </div>
          <a href="" ng-if="clubRules.inputs.addNewList == false" ng-click="newRuleList()">New List</a>
          <a href="" ng-if="clubRules.inputs.addNewList == true" ng-click="cancelNewRuleList()">Cancel</a>
          <span ng-if="clubRules.inputs.addNewList == true">
            <p>List Name</p>
            <input type="text" name="" value="" ng-model="clubRules.inputs.newList">
            <a href="" ng-click="addRuleList()">Add</a>
          </span>

        </div>
        <a ng-if="clubRules.inputs.edit == true" href="" ng-click="saveRuleLists()">Save</a>
      </div>

      <div class="adminClubInfoDisplays">
        <div class="adminClubInfoDisplayClassesDivs">
          <span ng-if="clubRules.inputs.edit == true">
            <p>Classes</p>
            <input type="text" name="" value="" ng-model="clubRules.inputs.newClass">
            <a href="" ng-click="addClassToRuleList()">Add</a>
          </span>
          <a href="" ng-click="thisClubRuleClass(c.id)" ng-repeat="c in clubRules.ruleLists[clubRules.currentList].classes">{{c.name}}</a>
        </div>
        <div class="adminClubInfoDisplayDivs">
          <div class="adminClubInfoNewRuleDivs" ng-if="clubRules.inputs.edit == true">
            <textarea name="name" rows="8" cols="80" name="" value="" ng-model="clubRules.inputs.newRule"></textarea>
            <a href="" ng-click="addClubRule()">Add</a>
          </div>
          <div class="adminClubInfoDisplayRules" ng-repeat="r in clubRules.ruleLists[clubRules.currentList].classes[clubRules.currentClass].rules">
            <a href="" ng-if="clubRules.inputs.edit == true" ng-click="removeClubRule(r.id)">X</a>
            <p>{{r.rule}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="adminClubDisplays" id="adminClubScheduleDisplay">
      <div class="adminClubDisplayHeaders">

        <div class="adminClubDisplayTitleDivs">

          <h3>Schedules</h3>
          <h3>|</h3>
          <h3>{{clubSchedules.schedules[clubSchedules.currentSchedule].name}}</h3>
          <h3>|</h3>
          <a href="" ng-if="clubSchedules.inputs.edit == false" id="clubSchedulesEditBtn" ng-click="editClubSchedules()">Edit</a>
          <a href="" ng-if="clubSchedules.inputs.edit == true" id="cancelClubRulesEditBtn" ng-click="cancelClubSchedulesEdit()">Cancel</a>


        </div>

        <div ng-if="clubSchedules.inputs.edit == true" class="adminClubDisplayEditBars">
          <div class="adminClubDisplayListDivs">
            <a href="" id="clubSchedules{{l.id}}" ng-repeat="s in clubSchedules.schedules" ng-click="thisSchedule(s.id)">{{s.name}}</a>
          </div>
          <a href="" ng-if="clubSchedules.inputs.addNewSchedule == false" ng-click="newClubSchedule()">New List</a>
          <a href="" ng-if="clubSchedules.inputs.addNewSchedule == true" ng-click="cancelNewSchedule()">Cancel</a>
          <span ng-if="clubSchedules.inputs.addNewSchedule == true">
            <p>Schedule Name</p>
            <input type="text" name="" value="" ng-model="clubSchedules.inputs.newSchedule">
            <a href="" ng-click="addSchedule()">Add</a>
          </span>

        </div>
        <a href="" ng-click="saveSchedule()">Save</a>

      </div>
      <div class="adminClubInfoDisplays" id="adminClubScheduleInfoDisplay">

        <div id="adminClubInfoDisplayScheduleToolsBar">

          <a href="" ng-click="addDayToSchedule()">Add Day</a>

        </div>
        <div class="" id="adminClubInfoDisplayScheduleDiv">


          <span>
            <h2 ng-if="clubSchedules.inputs.editTitle == false">{{clubSchedules.schedules[clubSchedules.currentSchedule].name}}</h2>
            <a ng-if="clubSchedules.inputs.editTitle == false" href="" ng-click="editScheduleName()">Edit</a>
            <input ng-if="clubSchedules.inputs.editTitle == true" type="text" name="" value="" ng-model="clubSchedules.inputs.newScheduleTitle">

            <a ng-if="clubSchedules.inputs.editTitle == true" href="" ng-click="cancelScheduleNameEdit()">Cancel</a>
            <p ng-if="clubSchedules.inputs.editTitle == true">|</p>
            <a ng-if="clubSchedules.inputs.editTitle == true" href="" ng-click="applyScheduleNameEdit()">Apply</a>

          </span>

          <div class="scheduleDayDivs" ng-repeat="d in clubSchedules.schedules[clubSchedules.currentSchedule].days">

            <span>
              <h2>Day {{d.id}}</h2>
              <a href="" ng-click="editThisScheduleDay()">Edit</a>
            </span>
            <div class="scheduleStartEndDivs">

              <span>
                <p>Gates Open:</p>
                <input type="time" name="" value="" ng-model="clubSchedules.schedules[clubSchedules.currentSchedule].gatesOpen" ng-change="applyScheduleOpenClose()">
              </span>
              <span>
                <p>Gates Closed:</p>
                <input type="time" name="" value="" ng-model="clubSchedules.schedules[clubSchedules.currentSchedule].gatesClosed" ng-change="applyScheduleOpenClose()">
              </span>

            </div>
            <div class="scheduleDayHeaderDivs">
              <span>
                <h3>Day Header</h3>
                <a href="" ng-if="d.header == '' && clubSchedules.inputs.editHeader == false" ng-click="editThisScheduleDayHeader()">Add Header</a>
                <a href="" ng-if="d.header != '' && clubSchedules.inputs.editHeader == false" ng-click="editThisScheduleDayHeader()">Edit</a>
                <a href="" ng-if="clubSchedules.inputs.editHeader == true" ng-click="cancelThisScheduleDayHeaderEdit()">Cancel</a>
              </span>
              <span ng-if="clubSchedules.inputs.editHeader == true">
                <textarea type="text" name="" value="{{d.header}}" ng-model="clubSchedules.inputs.newDayHeader"></textarea>
                <a href="" ng-click="applyScheduleDayHeader()">Apply</a>
              </span>

              <p ng-if="clubSchedules.inputs.editHeader == false">{{d.header}}</p>

            </div>

            <div class="scheduleRoundDivs" id="{{r.id}}scheduleRoundDiv" ng-repeat="r in d.rounds">

              <div class="scheduleRoundDivInfoDivs">

                <span>
                  <h3 ng-if="r.roundType == 'Practice' && r.kidKart == false">{{r.roundType + ' ' + r.id}}</h3>
                  <h3 ng-if="r.kidKart != true && r.roundType == 'Qualifying' || r.kidKart != true && r.roundType == 'Races' || r.kidKart != true && r.roundType == 'Prefinals' || r.kidKart != true && r.roundType == 'Heats'">{{r.roundType}}</h3>
                  <h3 ng-if="r.kidKart == true">Kid Kart</h3>
                  <h3 ng-if="(r.roundType == 'Practice' || r.roundType == 'Qualifying') && r.kidKart == false">|</h3>
                  <p ng-if="(r.roundType == 'Practice' || r.roundType == 'Qualifying') && r.kidKart == false">{{r.prettyRoundStart}}</p>
                  <h3>|</h3>
                  <a href="" ng-click="editScheduleRound(r)">Edit</a>

                </span>

                <p ng-if="r.roundInfo" class="roundInfoDisplays">{{r.roundInfo}}</p>

                <div class="scheduleRoundKidKartDivs" ng-repeat="i in r.kidKartInfo track by $index">
                  <p ng-if="i">- {{i}}</p>
                </div>

                <div class="scheduleRoundGroupDivs" ng-if="r.kidKart == false" ng-repeat="g in r.groups">

                  <p ng-if="r.roundType == 'Qualifying' || r.roundType == 'Practice'" style="width:80px">Group {{g.id}}</p>
                  <p ng-if="r.roundType == 'Races' || r.roundType == 'Prefinals' || r.roundType == 'Heats'" style="width:80px">Race {{g.id}}</p>
                  <p style="min-width:420px">{{g.classes}}</p>
                  <p ng-if="r.intervalType == 'time'" style="width:80px;display:flex;justify-content:flex-end;padding-right:20px;">{{g.prettyTime}}</p>
                  <p ng-if="r.intervalType == 'lap'" style="width:80px;display:flex;justify-content:flex-end;padding-right:20px;">{{g.laps}} Laps</p>

                  <p>{{g.notes}}</p>

                </div>

              </div>

            </div>

            <div class="scheduleRoundPlannerDivs" id="" ng-if="clubSchedules.inputs.addingRound == true">

              <div class="scheduleRoundTypeBtnDivs" id="">

                <a id="scheduleRoundPracticePlannerBtn" class="scheduleRoundPlannerBtns" href="" ng-click="selectNewRoundType('Practice')">

                  <h3>Practice</h3>

                </a>
                <a id="scheduleRoundQualifyingPlannerBtn" class="scheduleRoundPlannerBtns" href="" ng-click="selectNewRoundType('Qualifying')">

                  <h3>Qualifying</h3>

                </a>
                <a id="scheduleRoundHeatsPlannerBtn" class="scheduleRoundPlannerBtns" href="" ng-click="selectNewRoundType('Heats')">

                  <h3>Heats</h3>

                </a>
                <a id="scheduleRoundPrefinalsPlannerBtn" class="scheduleRoundPlannerBtns" href="" ng-click="selectNewRoundType('Prefinals')">

                  <h3>Pre-Finals</h3>

                </a>
                <a id="scheduleRoundRacesPlannerBtn" class="scheduleRoundPlannerBtns" href="" ng-click="selectNewRoundType('Races')">

                  <h3>Races</h3>

                </a>

              </div>

              <span>
                <p>Round Info</p>
                <textarea id="roundInfoTextarea" ng-model="clubSchedules.inputs.roundInfo" name="name" rows="8" cols="80"></textarea>
              </span>

              <span>
                <p>Kid Kart</p>
                <input type="checkbox" name="" value="" ng-model="clubSchedules.inputs.kidKart">
              </span>

              <div ng-if="clubSchedules.inputs.kidKart" class="scheduleRoundKidKartInputs">

                <span ng-repeat="i in clubSchedules.inputs.kidKartInfo track by $index">

                  <a href="">X</a>
                  <p>- {{i}}</p>

                </span>
                <span>
                  <p>-</p>
                  <input type="text" placeholder="Info 1" name="" value="" ng-model="clubSchedules.inputs.kidKartInfoInput">
                  <a href="" ng-click="addKidKartInfo()">+</a>
                </span>

              </div>

              <div ng-if="clubSchedules.inputs.kidKart == false" class="" id="scheduleRoundTimeInputs">

                <span>
                  <p>Round Start</p>
                  <input type="time" name="" value="" ng-model="clubSchedules.inputs.roundStart" ng-change="setRoundStart()">
                </span>

                <span>
                  <p>Intervals</p>
                  <p>Amount</p>
                  <input type="number" name="" value="" ng-change="changeScheduleInterval()" ng-model="clubSchedules.inputs.interval">
                  <!-- <p>Laps</p>
                    <p>Minutes</p> -->
                    <span>
                      <input type="checkbox" name="" value="" ng-model="clubSchedules.inputs.intervalLap" ng-change="changeScheduleIntervalType('lap')">
                      <p>Laps</p>
                    </span>
                    <span>
                      <input type="checkbox" name="" value="" ng-model="clubSchedules.inputs.intervalTime" ng-change="changeScheduleIntervalType('time')">
                      <p>Minutes</p>
                    </span>
                  </span>


                </div>

                <div ng-if="clubSchedules.inputs.kidKart == false" class="scheduleRoundClassesDivs">


                  <div class="scheduleRoundClassesDisplayDivs">

                    <div class="scheduleRoundClassesCells" ng-repeat="g in clubSchedules.inputs.roundGroups">
                      <a href="" style="width:80px" ng-click="editThisGroup(g)">Group {{g.id}}</a>
                      <div class="scheduleRoundGroupCells">
                        <p>{{g.classes}}</p>
                        <p ng-if="clubSchedules.inputs.intervalTime == true">{{g.prettyTime}}</p>
                        <p ng-if="clubSchedules.inputs.intervalTime == false">{{g.laps}} Laps</p>
                        <p>{{g.notes}}</p>
                      </div>
                      <div class="scheduleRoundEditGroupCells">
                        <input type="text" name="" value="{{g.classes}}">
                        <input  ng-if="clubSchedules.inputs.intervalType == 'time'" type="time" name="" value="{{g.time}}">
                        <input  ng-if="clubSchedules.inputs.intervalType == 'lap'" type="number" name="" value="{{g.laps}}">
                        <input type="text" name="" value="{{g.notes}}">
                      </div>
                    </div>

                    <div class="scheduleRoundClassesDivHeaders">

                      <p>Class(es)</p>
                      <p>Duration/Time</p>
                      <p>Extra Notes</p>

                    </div>
                    <div class="newScheduleRoundClassesCells">

                      <input type="text" name="" value="" placeholder="Class/Class/Class" ng-model="clubSchedules.inputs.newGroupClasses">
                      <input type="number" ng-if="clubSchedules.inputs.intervalLap == true" name="" value="" ng-model="clubSchedules.inputs.newGroupLaps">
                      <input type="time" ng-if="clubSchedules.inputs.intervalTime == true" name="" value="" ng-model="clubSchedules.inputs.newGroupTime">
                      <input type="text" name="" value="" placeholder="Additional Notes" ng-model="clubSchedules.inputs.newGroupNotes">
                      <a href="" ng-click="applyScheduleGroup()">Apply</a>

                    </div>

                  </div>

                </div>

                <a href="" ng-click="addRoundToSchedule()">Add Round</a>
                <a href="" ng-click="cancelAddingRound()">Cancel</a>

              </div>

              <a href="" ng-if="clubSchedules.inputs.addingRound == false" ng-click="newScheduleRound()">New Round</a>

          </div>


        </div>

      </div>
    </div>

  </div>


  <div class="adminControlGroups" id="adminRegistrationsControl">

    <div class="registriesNavs" id="seriesRegistryNav">

      <a href="" style="background:{{g.color}};" ng-repeat="g in eventGroups" ng-click="addRegistry(g)">{{g.name}}</a>
      <button type="button" name="button" ng-click="deleteAllEventRegistrations()">Delete All Registrations</button>

    </div>

    <div class="adminEventsControlPanelCells" id="adminEventsRegistryControlPanelCell">
      <!-- <button type="button" name="button" ng-click="addRegistry()">Add Registry</button> -->
      <div class="" id="adminEventRegistryContainer">

        <div class="adminRegistryDivs" id="adminRegistryController">
          <div class="registrySplitters">

            <span>
              <p>KRA Registration</p>
              <input type="checkbox" name="" value="" ng-model="registry.main_registration">
            </span>
            <span>
              <!-- <p>Entry Price</p>
                <input type="number" class="numberInputs" name="" value="" ng-model="registry.price"> -->
              <p>Require Membership</p>
              <input type="checkbox"  name="" value="" ng-model="registry.req_member">
            </span>
            <span>
              <p>Transponder Rental Price $</p>
              <input type="number" class="numberInputs"  name="" value="" ng-model="registry.trans_rental_price">
            </span>
            <span>
              <p>Open Registration</p>
              <input type="number" class="numberInputs" name="" value="" ng-model="registry.openReg.qty">
              <p>Day(s)</p>
              <input type="checkbox" name="" value="" ng-model="registry.openReg.days">
              <p>Week(s)</p>
              <input type="checkbox" name="" value="" ng-model="registry.openReg.weeks">
              <p>Month(s)</p>
              <input type="checkbox" name="" value="" ng-model="registry.openReg.months">
            </span>

          </div>
          <div class="registrySplitters">

            <h3>Pit Passes</h3>
            <span>
              <p>1-Day</p>
              <input type="checkbox" name="" value="" ng-model="registry.passes.one_day.available">
              <p>Price $</p>
              <input type="number" class="numberInputs" name="" value="" ng-model="registry.passes.one_day.price">
            </span>
            <span>
              <p>2-Day</p>
              <input type="checkbox" name="" value="" ng-model="registry.passes.two_day.available">
              <p>Price $</p>
              <input type="number" class="numberInputs" name="" value="" ng-model="registry.passes.two_day.price">
            </span>
            <span>
              <p>3-Day</p>
              <input type="checkbox" name="" value="" ng-model="registry.passes.three_day.available">
              <p>Price $</p>
              <input type="number" class="numberInputs" name="" value="" ng-model="registry.passes.three_day.price">
            </span>

          </div>
        </div>
        <!-- <div class="adminRegistryDivs">
          <p>Start Pre-entry:</p>
          <span>
            <p>Immediately after prior event</p>
            <input type="checkbox" name="" value="" ng-model="registry.start_preentry.interval">
          </span>
          <span>
            <p>After prior event and </p>
            <input type="number" class="numberInputs" name="" value="" ng-model="registry.start_preentry.daysForIntWithDays">
            <p>day(s) before event</p>
            <input type="checkbox" name="" value="" ng-model="registry.start_preentry.intervalWithDays">
          </span>
          <p>Month(s)</p>
          <input type="checkbox" name="" value="" ng-model="registry.start_preentry.months">
        </div> -->
        <h3>Other Options</h3>
        <span>
          <p>Option Name</p>
          <input type="text" name="" value="" ng-model="registry.option.name">
          <p>Price</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.option.price">
          <p>Quantity Option</p>
          <input type="checkbox" class="" name="" value="" ng-model="registry.option.quantity_option">
          <p>Quantity Limit</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.option.quantity_limit">

          <button type="button" name="button" ng-click="addRegistryOption()">Add</button>
        </span>
        <h3>Classes</h3>
        <span>
          <p>Price $</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.price_1">
          <p>additional Entries Price $</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.price_2">
        </span>
        <span>
          <p>Class Name</p>
          <input type="text" name="" value="" ng-model="registry.class.name">
          <!-- <p>Price $</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.class.price_1">
          <p>additional Entries Price $</p>
          <input type="number" class="numberInputs" name="" value="" ng-model="registry.class.price_2"> -->
          <p>Entry Cap</p>
          <input type="number" class="numberInputs" min=1 name="" value="" ng-model="registry.class.entry_cap">
          <button type="button" name="button" ng-click="addRegistryClass()">Add</button>
        </span>


        <div class="adminRegistryDivs" id="adminRegistryDisplay">
          <div class="" id="registryOptionsContainer">

            <span class="registryOptionCells" ng-repeat="opt in registry.options">
              <p>{{opt.name}}</p>
              <p>${{opt.price}}</p>
            </span>

          </div>
          <span>
            <p>{{registry.classes.length}} Class(es)</p>
            <button type="button" name="button" ng-click="toggleClassesView()">View</button>
          </span>
          <div class="" id="registryClassesContainer">
            <span class="registryClassCell" ng-repeat="cl in registry.classes track by $index">
              <p>{{cl.name}}</p>
              <span><p>{{cl.price_1}} </p><p ng-if="cl.price_2 != null">- {{cl.price_2}}</p></span>
              <p>{{cl.entry_cap}}</p>
            </span>
          </div>
        </div>
        <button type="button" name="button" ng-click="saveEventRegistry()">Save</button>
        <button type="button" name="button" ng-click="cancelAddRegistry()">Cancel</button>

      </div>
    </div>


    <div class="registriesNavs" id="mainRegistryCellDiv">


      <div class="mainRegistryCells" id="{{$index}}registryCell" ng-if="list.entries.classes.length > 0" ng-repeat="list in registrations.entry_lists track by $index" ng-click="selectRegistration(list, $index)" style="background:{{list.ev.color}}">

        <h2>{{list.ev.name}}</h2>
        <!-- <h2>{{list}}</h2> -->


      </div>


    </div>
    <div class="registriesNavs" id="registryViewNav">

      <a id="selectRegClassesView" href="" ng-click="selectRegistryView('Classes')">Entry Lists</a>
      <a id="selectRegExtrasView" href="" ng-click="selectRegistryView('Extras')">Extra Purchases Lists</a>
      <a id="selectRegMembersView" href="" ng-click="selectRegistryView('Members')">Entered Memberships</a>

    </div>
    <div class="registriesViews" id="ClassesRegistriesView">

      <button type="button" name="button" ng-click="download_csv()">CSV</button>


      <div class="registriesNavs" id="classesRegistryCellDiv">

        <div href="" class="registryClassCell" id="{{$index}}registryClassCell" ng-repeat="cl in selectedRegistration.entries.classes track by $index" ng-click="selectRegistrationList(cl.list,$index)">

          <h1>{{cl.name}}</h1>
          <div class="regListLengthsCell">
            <p class="regListLengths">{{cl.list.length}}</p>
          </div>
        </div>

      </div>
      <div class="" id="entryListRegistryDiv">

        <div class="" id="entryListHeader">
          <h3>Name</h3>
          <h3 class="entryCellNumbers">Kart number</h3>
          <h3 class="entryCellTransponders">Transponder</h3>
        </div>

        <span class="entryListCells" ng-repeat="e in selectedRegistrationList">

          <p class="entryCellNames">{{e.name}}</p>
          <p class="entryCellNumbers">{{e.number}}</p>
          <p class="entryCellTransponders">{{e.transponder}}</p>
          <!-- <p></p> -->

        </span>

      </div>

    </div>
    <div class="registriesViews" id="ExtrasRegistriesView">

      <div class="registriesNavs">

        <div class="registriesOptionsCells" ng-repeat="opt in selectedRegistration.entries.options" ng-click="selectRegistrationOption(opt.list)">

          <h1>{{opt.name}}</h1>

        </div>

      </div>
      <div class="" id="extrasRegistriesDisplay">

        <div class="registriesOptionListCells" ng-repeat="pass in selectedRegistrationPasses">

          <span>
            <p>{{pass.member.fName}} {{pass.member.lName}}</p>

          </span>
          <p ng-if="pass.oneDay != 0">One Day Passes x {{pass.oneDay}}</p>
          <p ng-if="pass.twoDay != 0">Two Day Passes x {{pass.twoDay}}</p>
          <p ng-if="pass.threeDay != 0">Three Day Passes x {{pass.threeDay}}</p>


        </div>

        <div class="registriesOptionListCells" ng-repeat="ord in selectedRegistrationOption">

          <p>{{ord.membership.name}}</p>
          <p ng-if="ord.quantity">Quantity x {{ord.quantity}}</p>

        </div>

      </div>

    </div>
    <div class="registriesViews" id="MembersRegistriesView">

      <div class="registriesMembersCells" ng-repeat="mem in selectedRegistrationMembers">

        <h3>{{mem.primary.fName + ' ' + mem.primary.mName[0] + '. ' + mem.primary.lName}}</h3>

        <div class="registriesMembersCellEntriesDisplays">

          <p><b>Entries</b></p>
          <div class="registriesMembersCellEntries" ng-repeat="ent in mem.entries">
            <p>{{ent.name}}</p>
            <p>{{ent.driver.name}}</p>
            <p>{{ent.driver.kart_number}}</p>
            <p>{{ent.driver.transponder}}</p>
          </div>

        </div>
        <div class="registriesMembersCellOptionsDisplays">

          <p ng-if="mem.options.length > 0"><b>Extras</b></p>
          <div class="registriesMembersCellOptions" ng-repeat="opt in mem.options">
            <p>{{opt.name}}</p>
            <p>{{opt.option.quantity}}</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="adminControlGroups" id="adminResultsControl">

    <input type="file" name="" value="" multiple id="pointsInput">
    <button type="button" name="button" ng-click="updatePoints()"></button>

    <div class="" id="adminResultsView">

      <div class="" id="adminResultsClassNav">

        <a href="" ng-repeat="cl in currentPoints" ng-click="selectPointsClass(cl)">{{cl.name}}</a>

      </div>
      <div class="" id="adminResultsPointsDisplay">

        <div class="" id="adminResultsPointsDatesDiv">
          <p style="width:200px;">Name</p>
          <p ng-repeat="date in selectedPointsClass.dates.slice(0,-1)">{{date}}</p>
          <p>Points</p>
        </div>
        <div class="" id="adminResultsDriversDiv">
          <div class="adminResultsDriversCells" ng-repeat="driver in selectedPointsClass.drivers">
            <p class="resultNames">{{driver.name}}</p>
            <div class="adminResultsDriversCellsResultsDivs" ng-repeat="r in driver.results" style="{{r.style}}">
              <p>{{r.position}}</p>
              <p>{{r.points}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="adminControlGroups" id="adminSettingsControl">


    <span>
      <p>Track Open Date</p>
      <input type="date" name="" value="">
    </span>
    <span>
      <p>Track Close Date</p>
      <input type="date" name="" value="">
    </span>

    <div class="" id="sponsorSettingsDiv">

      <span>
        <p>Sponsor Link</p>
        <input type="text" name="" value="" ng-model="sponsor.pageURL">
        <p>Image</p>
        <input type="file" name="" id="sponsorInput" value="" ng-model="sponsor.image">
        <button type="button" name="button" ng-click="addSponsor()">Add</button>
      </span>


      <div id="sponsorCellContainer">

        <img class="sponsorCell" src="{{s.image_data_url}}" ng-repeat="s in sponsors">

      </div>


    </div>
    <div class="" id="seriesClassesAndRulesDiv">

      <span>
        <p>Class Name</p>
        <input type="text" name="" value="" ng-model="newClass.name">
      </span>
      <span>
        <p>Entry Cap</p>
        <input type="number" name="" value="" ng-model="newClass.entryCap">
        <p>None</p>
        <input type="checkbox" name="" value="true" ng-model="newClass.noEntryCap">
      </span>
      <span>
        <p>Weight</p>
        <input type="text" name="" value=""ng-model="newClass.weight">
      </span>
      <span>
        <p>Tire Rule(s)</p>
        <input type="text" name="" value="" ng-model="newClass.tires">
      </span>
      <span>
        <p>Other Rules</p>
        <input type="text" name="" value="" ng-model="newOtherRule">
        <button type="button" name="button" ng-click="addRule()">Add Rule</button>
      </span>
      <p ng-repeat="r in newClass.otherRules">{{r}}</p>

    </div>

  </div>

  <div class="adminControlGroups" id="adminImagesControl">

    <div id="adminImagesControlPanel">

      <input type="file" multiple id="input">
      <button type="button" name="button" ng-click="sendInput()">Send</button>

      <!-- <div id="adminImagesControlPanelPreview">

        <img src="{{photo}}" alt="" ng-repeat="photo in photoPreviews">

      </div> -->

    </div>

    <div id="photoGallery">

      <div class="photoCell" ng-repeat="photo in photos">

        <img src="{{photo.dataURL}}" alt="" id="" ng-click="thisPhoto(photo)">

      </div>

    </div>

  </div>

  <div class="adminControlGroups" id="adminNewsControl">

    <button type="button" name="button">New Article</button>

    <div class="" id="newsControllerDiv">

      <nav id="newsControllerTypeNav">
        <a id="normalNewsTypeAnc" href="" ng-click="selectNewsType('normal')">Normal</a>
        <a id="delayNewsTypeAnc" href="" ng-click="selectNewsType('delay')">Delay</a>
        <a id="postponeNewsTypeAnc" href="" ng-click="selectNewsType('postpone')">Post-pone</a>
        <a id="cancelationNewsTypeAnc" href="" ng-click="selectNewsType('cancelation')">Cancelation</a>
      </nav>

      <!-- <div class="newsControllerNavHeaders">
        <p>Series</p>
      </div> -->
      <nav class="newsSelectNavs" id="newsSeriesSelectNav" name="">
        <p class="newsSelectTags">Series</p>
        <p id="noNewsSeriesBtn" style="background:#154498;color:#E1F5FE;" ng-click="selectNewsSeries('none')">None</p>
        <p class="newsSeriesCells" id="{{g.id}}newsSeriesCell" ng-repeat="g in eventGroups" style="color:{{g.color}};" ng-click="selectNewsSeries(g)">{{g.name}}</p>
      </nav>

      <nav class="newsSelectNavs"  ng-if="news.selectedSeries" id="newsEventSelectNav" name="" value="{{e.name}}">
        <p class="newsSelectTags">Event</p>
        <p id="noNewsEventBtn" style="background:#154498;color:#E1F5FE;" ng-click="selectNewsEvent('none')">None</p>
        <p class="newsEventCells" id="{{e.id}}newsEventCell" ng-repeat="e in news.selectedSeries.events" style="color:{{e.color}}" ng-click="selectNewsEvent(e)">{{e.name}}</p>
      </nav>
      <!-- <button type="button" name="button" ng-click=" checkNewsVars()">Check</button> -->
      <!-- <span>
        <p>Series:</p>
        <select class="" name="" ng-model="news.selectedSeries">
          <option value="{{g}}" ng-repeat="g in eventGroups">{{g.name}}</option>
        </select>
      </span> -->
      <div class="" id="newsControllerInputDiv">

        <span class="" id="newsWarningSpan">
          <p style="color:red;" ng-if="news.selectedEvent.name == null">You must have an Event selected</p>
        </span>
        <span class="newsInputSpans" id="newsDelayInputSpan">
          <p>Delay until</p>
          <input type="time" name="" value="" ng-model="news.delayedUntil">
          <!-- <p style="color:red;" ng-if="news.selectedEvent.name == null">You must have an Event selected</p> -->
        </span>
        <span class="newsInputSpans" id="newsPostponeInputSpan">
          <p>Post-pone until</p>
          <input type="date" name="" value="" ng-model="news.postponedUntil">
          <!-- <p style="color:red;" ng-if="news.selectedEvent.name == null">You must have an Event selected</p> -->
        </span>
        <span class="newsInputSpans" id="newsNormalInputSpan">
          <p>Post until</p>
          <input type="date" name="" value="" ng-model="news.postUntil">

          <p>Keep Posted for Now</p>
          <input type="checkbox" name="" value="true" ng-model="news.postRemains">
        </span>

        <span id="newsTitleSpan">
          <p>Title</p>
          <input type="text" name="" id="newsTitleInput" value="" ng-model="news.title">
        </span>
        <!-- <span>Article Summary<input type="textarea" name="" id="newsSummaryInput" value=""></span> -->
        <div id="newsArticleDiv">
          <p>Article</p>
          <textarea type="textarea" name="" id="newsArticleInput" value="" ng-model="news.article"></textarea>
        </div>
        <button id="saveNewsButton" type="button" name="button" ng-click="saveNews()">Save</button>

      </div>
    </div>


  </div>



  <div class="adminControlGroups" id=adminEventsControl>


    <div id="adminEventsControlContainer">

      <a href="" ng-click="removeAllGroups()">Delete All Event Groups</a>

      <div id="eventGroupDisplay">

        <div class="eventGroupCell" style="background:lightgreen;" ng-click="selectSeries('open')" id="openEventGroupCell">

          <h2>Open Practice</h2>

        </div>

        <div class="eventGroupCell" style="background:lightpink;" ng-click="selectSeries('closed')" id="closedEventGroupCell">

          <h2>Track Closed</h2>

        </div>

        <div class="eventGroupCell" ng-click="selectSeries('new')" id="newEventGroupCell">
          <h2>New</h2>

        </div>

        <div class="eventGroupCell" ng-repeat="group in eventGroups" style="background:{{group.color}}" ng-click="selectSeries(group)" id="{{group.name}}EventGroupCell">

          <h2 >{{group.name}}</h2>

        </div>

      </div>

      <div id="adminEventsControlContainerDiv">
        <!-- <div class="adminEventsControlPanels" id="openAndCloseEventsControlPanel">

          <div class="adminEventsControlPanelCells" id="closeEventsControlPanelCell">

            <p>Close Days by -</p>

            <span>
              <p>Days of Week</p>
              <input type="checkbox" name="" value="">
            </span>
            <div class="closeDaysByIntervalLists">
              <span>
                <p>Sunday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Monday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Tuesday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Wednesday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Thursday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Friday</p>
                <input type="checkbox" name="" value="">
              </span>
              <span>
                <p>Saturday</p>
                <input type="checkbox" name="" value="">
              </span>
            </div>
            <span>
              <p>Months of year</p>
              <input type="text" name="" value="">
            </span>

          </div>

        </div> -->

        <div class="adminEventsControlPanels" id="seriesAdminEventsControlPanel">

          <div class="adminEventsControlPanelCells"  ng-if="selectedSeries === 'new'">

            <h2>New Series</h2>

          </div>

          <div class="adminEventsControlPanelCells" ng-if="selectedSeries !== 'new'">
            <a href="" class="seriesDeleteBtns" ng-click="deleteSeries()">
              <img src="../images/glyphicons_free/glyphicons/png/glyphicons-17-bin.png" alt="">
            </a>
          </div>


          <div class="adminEventsControlPanelCells">

            <span>Title <input class="seriesInfoInput" type="text" name="" value="" ng-model="controller.info.name"></span>
            <span>Color <input class="seriesInfoInput" type="color" name="" value="#EEEEEE" ng-model="controller.info.color"></span>

          </div>
          <div class="adminEventsControlPanelCells">

            <!-- <span>Summary <input type="textarea" name="" value=""></span> -->
            <textarea class="seriesInfoInput" name="textarea"
            rows="10" cols="50" placeholder="Description Here.." id="descriptionInput" ng-model="controller.info.description"></textarea>

          </div>
          <div class="adminEventsControlPanelCells">
            <span>

              <a href="" ng-click="openPhotoSelect()">Select Image</a>
              <img src="{{selectedPhoto.dataURL}}" alt="" ng-if="selectedPhoto">

            </span>
          </div>
          <div class="adminEventsControlPanelCells" id="adminEventsImageSelectPanelCell">

            <img src="{{photo.dataURL}}" alt="" ng-repeat="photo in photos" ng-click="selectPreviewImg(photo)">

          </div>

          <div class="adminEventsControlPanelCells" ng-if="edit.events === 'editSeries'">

            <button type="button" name="button" ng-click="saveEdit()">Save</button>
            <button type="button" name="button" ng-click="cancelEdit()">Cancel</button>

          </div>

        </div>
        <div class="adminEventsControlPanels" id="seriesEventInfoControlPanel" >

          <h2>Event Info</h2>
          <button type="button" name="button" ng-ig="edit.events === 'view'" ng-click="addView()">Add event(s)</button>

          <div class="adminEventsControlPanelCellDivs" ng-if="edit.events === 'select'">

            <p>{{selectedEvent.name}}</p>
            <span>
              <p>
                {{selectedEvent.display_date}}
              </p>
              <button type="button" name="button">Postpone</button>
            </span>
            <span>
              <p>
                {{selectedEvent.display_start}}-{{selectedEvent.display_end}}
              </p>
              <button type="button" name="button">Delay</button>
            </span>
            <a href="" class="previewDeleteBtns" ng-click="deleteEvent(selectedEvent)">
              <img src="../images/glyphicons_free/glyphicons/png/glyphicons-17-bin.png" alt="">
            </a>
            <button type="button" name="button" ng-click="edit()">Edit</button>
          </div>
          <div class="adminEventsControlPanelCellDivs" ng-if="edit.events === 'add' || edit.events === 'edit'">

            <div class="adminEventsControlPanelCells">

              <!-- <h2 ng-if="edit.events === 'edit'">Edit</h2>
              <h2 ng-if="edit.events !== 'edit'">Add</h2> -->

            </div>


            <div class="adminEventsControlPanelCells">

              <span>Event Name <input class="eventInfoInputs" type="text" ng-model="controller.info.eventName"></span>

            </div>

            <div class="adminEventsControlPanelCells">

              <!-- <span>Start<input type="time" name="" value="" class="timeInputs" ng-model="controller.info.startTime"></span>
              <span>End<input type="time" name="" value="" class="timeInputs" ng-model="controller.info.endTime"></span> -->
              <span>Length <input type="number" name="" value="1" min="1" class="numberInputs" ng-model="controller.daysLength">Day(s)</span>

            </div>
            <div class="adminEventsControlPanelCells">
              <input class="eventInfoInputs" type="date" name="" value="" ng-model="controller.info.date">
            </div>
            <div class="adminEventsControlPanelCells">
              <button type="button" name="button" ng-if="edit.events === 'add'" ng-click="addDate(controller)">Add Date</button>
              <button ng-if="controller.toAdd.length > 0" type="button" name="button" ng-click="submitEvents()">Save</button>
            </div>
            <div class="adminEventsControlPanelCells" ng-if="edit.events === 'edit'">

              <button type="button" name="button" ng-click="saveEventEdit()">Save</button>
              <button type="button" name="button" ng-click="cancelEventEdit()">Cancel</button>
            </div>


          </div>
          <div class="adminEventsControlPanelCells" id="adminEventsPreviewPanelCell">

            <div class="events{{event.tag}}PreviewCells" id="event{{event.id}}PreviewCell" ng-repeat="event in eventPreviews track by $index" ng-click="selectEventPreview(event)">


              <!-- <h2 ng-if="event.displayDate">{{event.displayDate}}</h2> -->
              <h2>{{event.name}}</h2>
              <h2 ng-if="event.display_date">{{event.display_date}}</h2>

              <!-- <p>{{event.display_start}}-{{event.display_end}}</p> -->

              <div class="eventsPreviewCellHeader">



              </div>

            </div>

          </div>

        </div>


      </div>





      <!-- <div id="adminEventsControlContainerFooter">

        <button ng-if="edit.events === 'edit'" type="button" name="button" ng-click="saveEventEdit()">Save</button>
        <button ng-if="edit.events === 'edit'" type="button" name="button" ng-click="cancel()" >Cancel</button>

        <button ng-if="edit.events === 'add'" type="button" name="button" ng-click="submitEvents()">Submit</button>

      </div>   -->

    </div>

    <div class="pageInfoSplitters">
      <p>Next</p>
    </div>

    <div class="eventCells" id="event{{nextEvent.id}}Cell" style="background:{{nextEvent.color}};" ng-click="selectEvent(nextEvent.id)" >

      <div class="eventCellHeaders">

        <h1>{{nextEvent.name}}</h1>
        <h1>{{nextEvent.displayDate}}</h1>

        <a href="">
          <img src="../images/glyphicons_free/glyphicons/png/glyphicons-151-edit.png" alt="">
        </a>
        <a href="">
          <img src="../images/glyphicons_free/glyphicons/png/glyphicons-56-stopwatch.png" alt="">
        </a>
        <!-- <div class="eventCellHeaderToolBar">
        </div> -->

      </div>
      <div class="eventCellInfoContainers">

        <h2>{{nextEvent.display_start}} - {{nextEvent.display_end}}</h2>

        <p>{{nextEvent.description}}</p>

      </div>

    </div>
    <div class="pageInfoSplitters">
      <p>All Events</p>
    </div>
    <div class="eventCells" id="event{{event.id}}Cell" ng-repeat="event in events track by $index" ng-click="selectEvent(event.id)"  style="background:{{event.color}};">

      <div class="eventCellHeaders">

        <h1>{{event.name}}</h1>
        <h1>{{event.display_date}}</h1>

      </div>
      <div class="eventCellInfoContainers">

        <h2>{{event.display_start}} - {{event.display_end}}</h2>

        <p>{{event.description}}</p>

      </div>

    </div>
    <!-- <div id="eventCellContainer">


    </div> -->


  </div>



</div>
