<div class="parentDisplays" id="calendarDisplay" ng-controller="calendarCtrl">
  <div class="pageInfoSplitters" id="calendarPageHeader">

    <div class="" id="calendarPAgeHeaderEventDisplay">

      <p>Today:</p>
      <p style="color:{{todaysEvent.color}};">{{todaysEvent.name}}</p>

    </div>

    <h3>Schedule</h3>

    <div id="calendarViewSelect">

      <a href=""><img src="../images/glyphicons_free/glyphicons/png/glyphicons-115-list.png" ng-click="changeCalendarView('List')"></a>
      <a href=""><img src="../images/glyphicons_free/glyphicons/png/glyphicons-120-table.png" ng-click="changeCalendarView('Minified')"></a>
      <a href=""><img src="../images/glyphicons_free/glyphicons/png/glyphicons-46-calendar.png" ng-click="changeCalendarView('Expanded')"></a>

    </div>

  </div>

  <div class="calendarViews" id="calendarExpandedView">
    <div class="pageInfoCells" id="calendarExpandedViewInfoCell">
      <div class="pageInfoTextContainers" id="calendarExpandedViewTextContainer">

        <div class='' id="calendarExpandedViewHeader">

          <a ng-click="prevMonth()">{{prevMonth_text}}</a>
          <h2>{{selectedMonth_text}}</h2>
          <a ng-click="nextMonth()">{{nextMonth_text}}</a>

        </div>

        <div id="calendar">

          <ul id="calendarHeader">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>

          <div id="calendarContainer">

            <div class="calendarCell{{day.curMonth}}" ng-repeat="day in month_events track by $index" ng-click="selectDay(day)" style="background:{{day.backgroundColor}}">
              <div class="calendarCellContainer">

                <div class="calendarCellHeader">

                  <!-- <img src="" alt=""> -->
                  <p>{{ day.date }}</p>

                </div>

                <div class="eventCell" ng-repeat="event in day.events" style="background:{{event.color}}">

                  {{event.name}}

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="calendarViews" id="calendarMinifiedView">
    
    <div id="calendarMinifiedViewInfoCell">
      
      <div class="miniCalendarCell" ng-repeat="miniCell in miniCells">
        
        <h3>{{miniCell.month_name}}</h3>
        <div class="miniCellHeader">
          <li>S</li>
          <li>M</li>
          <li>T</li>
          <li>W</li>
          <li>T</li>
          <li>F</li>
          <li>S</li>
        </div>
        <div class="miniCellContainer">
          <div class="miniCellMiniCell" style="background:{{mcell.color}}" ng-repeat="mcell in miniCell.mcells">
            <!-- <p>{{mcell.date}}</p> -->
          </div>
        </div>
        
      </div>
      
    </div>


  </div>
  <div class="calendarViews" id="calendarListView">
    
    <div class="pageInfoSplitters">
      <p>Coming Up</p>
    </div>
    
    <div class="eventCells" ng-repeat="event in announcements.events" style="background:{{event.color}};">
      
      <div class="eventCellHeaders">
        
        <h1>{{event.name}}</h1>
        <h1>{{event.displayDate}}</h1>
        
      </div>
      <div class="eventCellInfoContainers">
        
        
        
      </div>
      
    </div>
    
  </div>


</div>
