<div class="parentDisplays" id="homeDisplay">

  <div id="homeWelcomeView">

    <div id="welcomeViewContentContainer">

      <img src="./images/NCMP-Logo-2017-FINAL.GIF" alt="">

    </div>
    <div id="welcomeQuickView">
      <div ng-if="announcements.events.length > 0" class="welcomeQuickViewContainers" id="welcomeEventQuickView">
        <h2>Upcoming Events</h2>
        <span style="background:{{announcements.events[0].color}};">
          <p>{{announcements.events[0].name}} - {{announcements.events[0].displayDate}}</p>
          <a href="" ng-if="announcements.events[0].openReg == true" ng-click="goToRegistration(announcements.events[0])">Register</a>
        </span>
        <span ng-if="announcements.events[1]" style="background:{{announcements.events[1].color}};">
          <p>{{announcements.events[1].name}} - {{announcements.events[1].displayDate}}</p>
        </span>
        
      </div>
      <div ng-if="announcements.news.length > 0" class="welcomeQuickViewContainers" id="welcomeNewssQuickView">
        <h2>Recent News</h2>
        <span ng-repeat="n in announcements.news" style="background:{{n.set_type.color}};">
          <p ng-if="n.set_type != 'normal'" style="color:red;"><b>!</b></p>
          <p>{{n.title}}</p>
          <!-- <p ng-if="n.set_type.type == 'postpone'">{{n.set_type.postponedUntil}}</p> -->
          <a href="" ng-if="n.article != ''">Read More</a>
        </span>
      </div>
    </div>
    <div id="welcomeViewNav">

      <a href="/#!/kartowners">Kart Owners</a>
      <a href="/#!/rentalkarts">Rental Karts</a>
      <a href="/#!/calendar">Events</a>
      <a href="/#!/series">KRA Series</a>

    </div>

  </div>

  <div id="homeSponsorContainer">

    <!-- Shows each sponsor with link to page -->
    <div id="sponsorContainerView">
      
      <a href="{{sponsor.page_url}}" ng-repeat="sponsor in sponsors">
        <img src="{{sponsor.image_data_url}}" class="sponsorCell">
      </a>
      
    </div>

  </div>

  



</div>
