<div class="parentDisplays" id="homeDisplay">

  <div id="homeWelcomeView">

    <div id="welcomeViewContentContainer">

      <img src="./images/NCMP-Logo-2017-FINAL.GIF" alt="">

    </div>

    <div id="welcomeViewNav">

      <a href="#">Kart Owners</a>
      <a href="#">Rental Karts</a>
      <a href="#">Events</a>
      <a href="#">KRA Series</a>

    </div>

  </div>

  <div id="homeSponsorContainer">

    <!-- Shows each sponsor with link to page -->
    <img src="{{sponsor.img}}" class="sponsorCell" ng-repeat="sponsor in sponsors">

  </div>

  <div id="homeNewsView">

    <div id="homeNewsViewContainer">

      <div id="homeNewsViewContentContainer">

        <a href="#" id='homeNewsViewContent'style="background-image:url({{selectedBit.imageUrl}})">

          <div class="viewContentDiv" id="topViewContentDiv" >

            <!-- <img src="{{selectedBit.imageUrl}}" alt=""> -->

            <div class="" id="topViewContentInfo" style="background: {{selectedBit.color}};">

              <h1>{{selectedBit.name}}</h1>
              <h3>{{selectedBit.displayDate}}</h3>
              <!-- <a href="#"><b>More...</b></a> -->

            </div>

          </div>
          <div class="viewContentDiv" id="bottomViewContentDiv">

            <p>{{selectedBit.summary}}</p>

          </div>

        </a>

      </div>
      <div id="homeNewsViewNav">

        <div class="homeNewsViewNavDiv">

          <div class="homeNewsViewNavDivHeader">

            <h3>Today</h3>

          </div>
          <div class="homeNewsViewNavDivCell" style="background:{{todaysEvent.color}};" ng-click="thisBit(todaysEvent)">

            <p>{{todaysEvent.name}}</p>

          </div>

          <div class="homeNewsViewNavDivHeader">

            <h3>Coming Up</h3>

          </div>

          <div class="homeNewsViewNavDivCell" ng-repeat="el in announcements.events" style="background:{{el.color}};" ng-click="thisBit(el)">

            <p >{{el.name}}</p>

          </div>

        </div>
        <div class="homeNewsViewNavDiv">
          <div class="homeNewsViewNavDivHeader">

            <h3>News</h3>

          </div>

          <div class="homeNewsViewNavDivCell" ng-repeat="el in announcements.news">

            <p>{{el.title}}</p>

          </div>


        </div>

      </div>

    </div>


  </div>



</div>
