<div class="parentDisplays" id="kartOwnersParentDisplay">

  <!-- <div id="ownersPageNav">

    <a ng-click="goToPage('ownersPage')">Top</a>
    <a ng-click="goToPage('pricesPar')">Fees</a>
    <a ng-click="goToPage('practiceRulesDiv')">Practice Rules</a>
    <a ng-click="goToPage('pitSpotPar')">Pit Spaces</a>
    <a ng-click="goToPage('seriesFormatInfoDiv')">Series Info</a>
    <a ng-click="goToPage('classInfoPar')">Class Info</a>
    <a ng-click="goToPage('rulesDiv')">Series Rules</a>

  </div> -->

  <div class="pageHeaders" id="kartOwnersPageHeader">

    <p>Kart Owners</p>

  </div>
  <div class="pageInfoCells" id="kartOwnersIntroCell">

    <div class="pageInfoTextContainers" id="kartOwnersIntroTextContainer">

      <p>
        New Castle Motorsports Park is located an hour from Indianapolis, and is directly off of I-70.
      </p>
      <p>
        NCMP's state of the art track hosts a variety of layouts, with the normal layout being 1.0 miles long. The track sees a
      number of national races and other <a href="/#!/calendar">events</a>, and also has its own very competetive and fun local <a href="/#!/series">Series</a>.
    </p>
    <p>
      Ready to join us? If you own a kart, you can come join us during any open practice or race weekend! If you don't own a kart, dont worry! We also have <a href="/#!/rentalkarts">Rental Karts</a> available.
    </p>

    </div>

    <div class="pageInfoImageContainers" id="kartOwnersIntroImageContainer">

      <img src="../images/New-Castle-Motorsports-Park (1).jpg" alt="">

    </div>



  </div>

  <div class="pageInfoSplitters">

    <p>Practice Pricing</p>

  </div>

  <div class="pageInfoCells" id="kartOwnersPricesInfoCell">

    <div class="pageInfoImageContainers">

      <img src="../images/shopncmp1.jpg" alt="">
      <img src="../images/RoboPong2012.jpg" alt="">

    </div>

    <div class="pageInfoTextContainers" id="kartOwnersPricesTextContainer">

      <div class="pageInfoTextContainerDivs">

        <div class="">

          <h5>Practice Passes</h5>
          <ul>
            <li>KRA Members: <b><b>$27.00</b></b></li>
            <li>Non Members: <b>$32.00</b></li>
          </ul>
        </div>
        <div class="">
          <h5>Pit Passes</h5>
          <ul>
            <li>1-Day: <b>$12.00</b></li>
            <li>2-Day: <b>$22.00</b></li>
          </ul>

        </div>

      </div>

      <a href="#"><h3>Series Pricing <b>></b></h3></a>

      <p>Anyone is free to watch the racing from our viewing area in front of the building. But you <b>must</b> have an arm band and be signed in to go out on track or be in the pit and garage areas.</p>
      <p>Children 5 and under are <b>FREE</b> but <b>MUST</b> be signed in at the front office and have an armband to access the pit and garage areas.</p>

      <p>
        NCMP offers 2-day pit passes for karters competing in the KRA Series who would like to practice with us on Saturday and race with us on Sunday.
      </p>

      <p>
        Once again this does not raise the price of a race day entry and it actually lowers the price if you plan on spending 2 days at our facility.
      </p>

      <p>
        Due to insurance requirements, all crew members must have a pit pass in the trailer area, garage area or anywhere in the pit area during practice or racedays. Anyone caught without a pitpass will be asked to leave immediately.
      </p>
    </div>

    <!-- <div class="pageInfoTextContainers">

      <p>
        NCMP offers 2-day pit passes for karters competing in the KRA Series who would like to practice with us on Saturday and race with us on Sunday. If you plan to practice on Saturday there is no need to include a pit pass on your pre-entry form since you can pick up a 2-day pass on Saturday (or Friday for a Saturday race). All rates are listed below. In doing this we will be able to lower the price $2.00 for a racer or a crewmember who plans on being at our facility for 2 days.
      </p>

      <p>
        Once again this does not raise the price of a race day entry and it actually lowers the price if you plan on spending 2 days at our facility.
      </p>

      <p>
        Due to insurance requirements, all crew members must have a pit pass in the trailer area, garage area or anywhere in the pit area during practice or racedays. Anyone caught without a pitpass will be asked to leave immediately. Pit passes on practice days are $12.00 per person for anyone over the age of 5. Kids 5 and under are free but MUST be signed in and have a pit pass.
      </p>

    </div> -->

  </div>

  <div class="pageInfoSplitters">

    <p>Practice Hours</p>

  </div>

  <div class="pageInfoCells" id="kartOwnersHoursInfoCell">

    <div class="pageInfoTextContainers" id="kartOwnersHoursTextContainer">

      <h3>Practice Hours</h3>
      <ul>
        <li>Open: Tuesday-Sunday, 10am-7pm</li>
        <li>Closed Monday</li>
        <li>Today: <b style="color:{{todaysEvent.color}}">{{todaysEvent.name}}</b></li>
      </ul>

      <h4>Kid Kart Practice</h4>
      <ul>
        <li>Wednesday: 4pm-7pm</li>
        <li>Weekends (If Open Practice Is Available): 12:30pm-1:30pm & 3pm-3:45pm</li>
      </ul>


      <h4>Paved Oval Practice at NCMP</h4>
      <p>
        The paved oval at NCMP does not have set practice hours. If you are interested in practicing on the oval please contact us to setup a date and time, otherwise we will not guarantee the oval track will be available. If you are a club or organization that wishes to rent the oval track for an event, please contact us.
      </p>

      <p>
        *NCMP will not be available for open practice on racedays and we also have corporate events that will close the track at times. Please check the schedule and the homepage. If in doubt you are always welcome to contact us for clarification and availability.
      </p>

    </div>
    <div class="pageInfoImageContainers" id="kartOwnersHoursImageContainer">

      <img src="../images/From-the-Tower-USPKS-New-Castle.jpg" alt="">
      <img src="../images/From-the-Tower-WKA-New-Castle-1.jpg" alt="">

    </div>

  </div>
  <div class="pageInfoSplitters">

    <p>Practice Rules</p>

  </div>

  <div class="pageInfoCells" id="kartOwnersRulesInfoCell">

    <div class="pageInfoImageContainers">

      <img src="../images/karting-safety-gear-20091015-800-00017-620.jpg" alt="">

    </div>
    <div class="pageInfoTextContainers" id="kartOwnersRulesTextContainer">

      <h3>Practice Rules</h3>

      <ul>
        <li>
          *Airboxes MANDATORY for all Two Cycles and Shifters
        </li>
        <li>
          *RLV Exhaust Mufflers MANDATORY for all Four Cycle Engines
        </li>
        <li>
          *Snell 2010 or Better Helmet, Abrasion Resistant Jacket or Suit/Neckcollar/Gloves are Mandatory at all Times
        </li>
        <li>
          *Racing Karts Only, No Yard/Fun Karts Allowed, NCMP reserves the right to deny track admission to any kart not deemed proper
        </li>
        <li>
          *All Lead Weights must be cotter keyed and all brakes and steering bolts/nuts
        </li>
        <li>
          *Junior Drivers Ages 5-12 Must Use an SFI Approved Ribvest at All Times While On Track
        </li>
        <li>
          *All MINORS must have MINOR RELEASE on file and signed by Parent/Legal Guardian before they can be allowed to practice or race. NO EXCEPTIONS. (Form Available at Track) Make sure you take care of this ahead of time!
        </li>
      </ul>

    </div>



  </div>

</div>
