<div id="seriesParentDisplay" ng-controller="seriesCtrl">

  <div class="pageHeaders">

    <p>Kart Racers of America</p>

  </div>

  <div id="seriesNavBar">

    <a class="seriesNavAncs" id="seriesNavMainAnc" href="" ng-click="selectSeriesInfo('About')">About KRA</a>
    <a class="seriesNavAncs" href="" ng-click="selectSeriesInfo('Classes')">Classes & Rules</a>
    <!-- <a class="seriesNavAncs" href="" ng-click="selectSeriesInfo('News')">News</a> -->
    <a class="seriesNavAncs" href="" ng-click="selectSeriesInfo('Points')">Points</a>
    <a class="seriesNavAncs" href="" ng-click="selectSeriesInfo('PreRegister')">PreRegister</a>

  </div>

  <div class="seriesPageInfoContainers" id="seriesPointsPageInfoContainer">

    <div class="" id="adminResultsView">

      <div class="pageInfoSplitters">

        <p>KRA Points</p>

      </div>

      <div class="" id="adminResultsClassNav">

        <a href="" ng-repeat="cl in currentPoints" ng-click="selectPointsClass(cl)">{{cl.name}}</a>

      </div>
      <div class="" id="adminResultsPointsDisplay">

        <div class="" id="adminResultsPointsDatesDiv">
          <p style="width:200px;">Name</p>
          <p ng-repeat="date in selectedPointsClass.dates.slice(0,-1)">{{date}}</p>
          <p>Points</p>
        </div>
        <div class="" id="adminResultsDriversDiv">
          <div class="adminResultsDriversCells" ng-repeat="driver in selectedPointsClass.drivers">
            <p class="resultNames">{{driver.name}}</p>
            <div class="adminResultsDriversCellsResultsDivs" ng-repeat="r in driver.results" style="{{r.style}}">
              <p>{{r.position}}</p>
              <p>{{r.points}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="seriesPageInfoContainers" id="seriesAboutPageInfoContainer">

    <div class="pageInfoSplitters">

      <p>KRA Pricing</p>

    </div>

    <div class="pageInfoCells" id="seriesAboutInfoCell">

      <div class="pageInfoTextContainers" id="seriesAboutInfoTextContainer">

        <h2>
          Pre-Entries
        </h2>

        <p>
          NCMP offers 2-day pit passes for karters competing in the KRA Series who would like to practice with us on Saturday and race with us on Sunday.
        </p>
        <p>
          If you plan to practice on Saturday there is no need to include a pit pass on your pre-entry form since you can pick up a 2-day pass on Saturday (or Friday for a Saturday race).
        </p>
        <p>
          In doing this we will be able to lower the price $2.00 for a racer or a crewmember who plans on being at our facility for 2 days. All rates are listed below!
        </p>

      </div>
      <div class="pageInfoImageContainers" id="seriesAboutInfoImageContainer">

        <img src="../images/Operation-Grassroots-New-Castle-2014.jpg" alt="">

      </div>
      <div class="pageInfoImageContainers" id="seriesAboutInfoImageContainerB">

        <img src="../images/SKUSA-SummerNats-2016-P-IAME.jpg" alt="">
        <img src="../images/Route66-06-New-Castle.jpg" alt="">

      </div>
      <div class="pageInfoTextContainers" id="seriesAboutInfoTextContainerB">


        <div class="pageInfoTextContainerDivs">

          <div class="">

            <h5>Practice Passes</h5>
            <ul>
              <li>KRA Members: <b>$27.00</b></li>
              <li>Non Members: <b>$32.00</b></li>
            </ul>

          </div>
          <div class="">

            <h5>Pit Passes</h5>
            <ul>
              <li>1-Day: <b>$12.00</b></li>
              <li>2-Day: <b>$22.00</b></li>
            </ul>

          </div>

        </div>

        <h5>Pre-Entries (Pit Passes NOT Included)</h5>
        <ul>
          <li>Adult/Junior: <b>$40.00</b> for First Entry, <b>$35.00</b> for Additional Classes</li>
          <li>Kid Kart: <b>$30.00</b></li>
        </ul>

        <h5>Race Day Entries (Pit Passes NOT Included)</h5>
        <ul>
          <li>Per Class: <b>$45.00</b></li>
          <li>Kid Kart Class: <b>$30.00</b></li>
        </ul>

        <p>Additional Pit Passes are <b>$12.00</b> each</p>

        <p>Children 5 and Under are Free, but <b>MUST</b> be signed in up front and have a wristband.</p>

        <p>Transponder Rental: <b>$16.05</b> (Plus Tax)</p>

      </div>

    </div>
    <div class="pageInfoSplitters">

      <p>KRA Race Day Format</p>

    </div>
    <div class="pageInfoCells" id="seriesAboutFormatInfoCell">

      <div class="pageInfoTextContainers" id="seriesAboutFormatTextContainer">

        <h2>Kart Racers of America Series Raceday Format</h2>

        <h4>Practice: 8-10 Minutes Per Class, No Kid Karts (Two Rounds)</h4>

        <h4>Qualifying: 1 Round, 6 Minutes Per Class, No Kid Karts</h4>

        <h3>Features</h3>

        <ul>
          <li>12 lap features.</li>
          <li>Kid Karts will run at the lunch break.</li>
          <li><b>Gates/Registration/Racer's Grill opens at 7:00am.</b></li>
          <li><b>Practice Starts at 8:00am.</b></li>
          <li>We will be running a number of track layouts at KRA events, lap numbers may change depending on the length of track, time will be used in the event of a red flag to remain on a time certain schedule.</li>
        </ul>

        <h4>Classes are ordered here: <a href="../pdfs/ScheduleRotation1-16.pdf">Class Rotation PDF</a></h4>


          <!-- <a href="../pdfs/Untitled 3.xlsx">Series Points</a> -->


          <a ng-click="goToPage('rulesDiv')">KRA Series Class List & Rules</a>
        <!-- <a ng-click="goToPage('rulesDiv')">KRA Series Rules 202</a> -->


        <h4><b>KRA members are eligible for season end points awards</b></h4>
        <h4><b>  Non-Members are eligible for raceday awards but are not eligible for year end points awards.</b></h4>
        <h4><b>If you plan to mail your membership form please mail to the addres below.</b></h4>

        <ul>
          <p>Kart Racers of America<p>
          <p>2650 West Main Street<p>
          <p>Greenfield, IN 46140<p>
        </ul>

        <a href="../pdfs/2017KRAmembership.pdf">2017 KRA Membership Form PDF</a>

        <h3><b>The track does NOT have a mailbox</b></h3>

      </div>
      <div class="pageInfoImageContainers" id="seriesAboutFormatImageContainer">

        <img src="../images/9430815_orig.jpg" alt="">
        <img src="../images/unnamed.jpg" alt="">
        <img src="../images/maxresdefault (3).jpg" alt="">

      </div>

    </div>
    <div class="pageInfoSplitters">

      <p>Reserved Pit Spaces</p>

    </div>
    <div class="pageInfoCells" id="seriesAboutRentalSpacesInfoCell">

      <div class="pageInfoImageContainers" id="seriesAboutRentalSpacesImageContainer">

        <img src="../images/WKA-2016-New-Castle-1-Fri-Paddock.jpg" alt="">

      </div>

      <div class="pageInfoTextContainers" id="seriesAboutRentalSpacesTextContainer">

        <p>
          Reserved Pit Spots for <b>KRA MEMBERS</b> for the Kart Racers of America Series are available for <b>$135.00</b> for the year (64ft x 15ft each). You can send your request with your <a href="../pdfs/2017KRAmembership.pdf">Membership application</a> or you can send a check for pit spots seperately or use a credit card. If you wish to have more than one pit spot, each additional spot is <b>$135.00</b> per year.
        </p>
        <p>
          <b>Non KRA Members</b> can reserve pitspots for the KRA Series for <b>$180.00</b> per spot per year.
        </p>
        <p>
          Camper spots are available with electrical hookups for <b>$35.00</b> per day. Showers are also available on site. Camper spots for the KRA Race Series are available for <b>$350.00</b> a season, this covers race days only.
        </p>


      </div>

    </div>

  </div>

  <div class="seriesPageInfoContainers" id="seriesClassesPageInfoContainer">

    <div class="pageInfoSplitters">

      <p>Class List</p>

    </div>
    <div class="pageInfoCells" id="seriesClassesInfoCell">

      <div class="" id="classListAndRulesDisplay">

        <nav class="" id="classListAndRulesNav">
          <a href="" ng-repeat="class in classInfo" ng-click="thisClass(class)">{{class.displayName}}</a>
        </nav>
        <div class="pageInfoTextContainers" id="classListAndRulesDisplayTextContainer">

          <h3><b>{{selectedClass.name}}</b></h3>
          <h4 ng-if="selectedClass.weight.length === 1"><b>Weight: </b> {{selectedClass.weight[0]}}</h4>
          <h4 ng-repeat="w in selectedClass.weight" ng-if="selectedClass.weight.length > 1">{{w}}</h4>
          <h4><b>Tires: </b>{{selectedClass.tires}}</h4>
          <p>{{selectedClass.notes}}</p>
          <h4 ng-if="selectedClass.rules" ng-repeat="rule in selectedClass.rules">{{rule}}</h4>

        </div>

      </div>

    </div>
    <div class="pageInfoSplitters">

      <p>Rules</p>

    </div>
    <div class="pageInfoCells" id="seriesRulesInfoCell">

      <div class="pageInfoImageContainers" id="seriesRulesImageContainer">

        <img src="../images/From-the-Tower-USPKS-New-Castle.jpg" alt="">

        <img src="../images/IMG_8521.JPG" alt="">

        <img src="../images/jimrussellmem.JPG" alt="">

      </div>

      <div class="pageInfoTextContainers" id="seriesRulesTextContainer">

        <h1 id="rulesHeader">KRA Rules</h1>

        <h3><b>Basic KRA Rules</b></h3>
        <ul>
          <li>*All Senior 2 Cycle Classes Must Run 450x5 Fronts and 710x5 Rear Tires. (Spec Tire Compounds for Each Class Here)</li>
          <li>*All Competitors Must Run the Spec Tire for their class whether they are running for points or not. (Spec Tire Compounds for Each Class Here)</li>
          <li>*All 2 Cycle Classes Must Run CIK Approved Front Nose - No G-Man Style Noses, complete CIK Bodywork is encouraged but not mandatory, flat side panels legal.</li>
          <li>*Make sure you read any supplemental rules listed for your class on the Classes page.</li>
          <li>*Airboxes MANDATORY in all Two Cycle and Shifter Classes.</li>
          <li>*All Briggs/Clone Classes Must run RLV Mufflers.</li>
          <li>*All karts must have numbers on all four corners.</li>
          <li>*In the event of rain, KRA will race, all classes (except Kid Kart) must run Bridgestone Rain Tires. Kid Kart is open rain tires.</li>
          <li>*All Lead Weights must be cotter keyed or double nutted and all brakes and steering bolts/nuts must be cotter keyed.</li>
          <li>*Add 20 lbs to the minimum weight if you are running front brakes in any single speed class (does not include shifter class, no additional weight needed)</li>
          <li>*Disqualifications can not be dropped, no shows/non-entries can be dropped.</li>
          <li>*Snell 2010 or Better Helmet, Jacket or Suit/Neckcollar/Gloves are mandatory at all times.</li>
          <li>*All MINORS must have MINOR RELEASE on file and signed by Parent/Legal Guardian before they can be allowed to practice or race. NO EXCEPTIONS. (Available at Track)</li>
          <li>*Engine Tech and chassis tech (except those noted above) for all classes will use the 2012 WKA Technical Manual - email us for clarification.</li>
          <li>*KRA will not use onboard video or photos to decide any protests.</li>
          <li>*Video cameras are allowed, video cameras must be mounted to the chassis or the bodywork using bolts and securely in place. Cameras can not be attached to the driver or the helmet. In the event of a flip or contact the camera could cause injury.</li>
        </ul>


        <!-- <h1>KRA Series Class List</h1>

        <h4>*Spec tires are <b>Mandatory</b> for all classes whether the driver is running for points or not.</h4> -->


      </div>
      <div class="pageInfoTextContainers" id="seriesRulesTextContainer">

        <h3><b>Kart Racers of America Kid Kart Rules</b></h3>
        <ul>
          <li>If you need clarification on a rule please contact us.</li>
          <li>*Kid kart drivers must use an SFI Approved Chest Plate at all times while on track!</li>
          <li>*Gas and Oil Premix Only, must use NCMP Race Fuel</li>
          <li>*No Restrictor Plate</li>
          <li>*150 lbs minimum kart and driver</li>
          <li>*Max tire width 550x5, Open Compound, max rear tire circumference 33 3/4"</li>
          <li>*KID KART RULES WILL BE STRICTLY ENFORCED! ANY KARTS OUT OF SPECIFICATIONS WILL BE DISQUALIFIED. ANY PARENTS DISPLAYING UNSPORTSMAN LIKE CONDUCT OR FOUL LANGUAGE WILL BE ASKED TO LEAVE AND THEIR ENTRY FORFEITED.</li>
          <li>*The kid kart class is for the enjoyment of the children, we ask that all parents please set a good example for all the kids in the class.</li>
        </ul>

      </div>
      <div class="pageInfoImageContainers" id="">

        <img src="../images/Karamdavis8x10.jpg" alt="">

      </div>

    </div>
    <div class="pageInfoSplitters">

      <p>Transponders</p>

    </div>
    <div class="pageInfoCells" id="seriesTranspondersInfoCell">

      <div class="pageInfoImageContainers" id="seriesTranspondersImageContainer">

        <img src="../images/download.jpeg" alt="">

      </div>
      <div class="pageInfoTextContainers" id="seriesTranspondersTextContainer">

        <h3><b>Transponders</b></h3>
        <ul>

          <li>*Transponders will be used in all classes for qualifying and racing.</li>
          <li>*Transponders are available for rent for $16.05.</li>
          <li>*Transponders and Brackets are available for purchase at NCMP.</li>
          <li>*If you have your own MyLaps/AMB transponder you are welcome to use it at all KRA Series events, we will also have transponders for sale at all events.</li>
          <li>*It is the DRIVER'S responsibility, not KRA's that the transponder is installed correctly and functioning properly on the kart. Failure to do so will result in not being scored during qualifying or races.</li>
          <li>*Transponders and Holders can also be bought online through Comet Kart Sales.</li>

        </ul>

      </div>

    </div>

  </div>
  <div class="seriesPageInfoContainers" id="seriesPreRegisterPageInfoContainer">
    <div class="pageInfoSplitters">
      <p>Pre-Register</p>
    </div>
    <div class="" id="preRegNavBar">
      <h2 ng-repeat="ev in announcements.events track by $index">{{ev.name}}</h2>
    </div>
    <div class="" id="registrationViewDiv">

      <div class="" id="registrationEventInfoDiv">
        <span>
          <h2>{{announcements.events[0].name}}</h2>
          <p>{{announcements.events[0].displayDate}}</p>
        </span>
        <a href="" ng-click="goToRegistration(announcements.events[0])">Register Now!</a>

      </div>
      <div class="" id="seriesPageEntryListsView">

        <div class="registriesNavs" id="classesRegistryCellDiv">

          <div href="" class="registryClassCell" id="{{$index}}registryClassCell" ng-repeat="cl in entry_lists[1].entries.classes track by $index" ng-click="selectRegistrationList(cl.list,$index)">

            <h1>{{cl.name}}</h1>
            <div class="regListLengthsCell">
              <p class="regListLengths">{{cl.list.length}}</p>
            </div>
          </div>

        </div>
        <div class="" id="entryListRegistryDiv">

          <div class="" id="entryListHeader">
            <h3>Name</h3>
            <h3 class="entryCellNumbers">Kart number</h3>
            <h3 class="entryCellTransponders">Transponder</h3>
          </div>

          <span class="entryListCells" ng-repeat="e in selectedRegistrationList">

            <p class="entryCellNames">{{e.name}}</p>
            <p class="entryCellNumbers">{{e.number}}</p>
            <p class="entryCellTransponders">{{e.transponder}}</p>
            <!-- <p></p> -->

          </span>

        </div>

      </div>

    </div>
  </div>

</div>
