<div id="seriesDisplay" ng-controller="seriesCtrl">

  <div id="seriesNavBar">

    <a href="" ng-click="selectSeriesInfo('news')">News & Results</a>
    <a href="" ng-click="selectSeriesInfo('points')">KRA Points</a>
    <a href="" ng-click="selectSeriesInfo('schedule')">Schedule</a>

  </div>

  <div id="seriesInfoDisplay">

    <div id="seriesNewsContainer">

      <h2>News & Results</h2>

    </div>

    <div id="seriesPointsContainer">

      <h2>Points</h2>

    </div>

    <div id="seriesScheduleContainer">

      <h2>Schedule</h2>

    </div>

  </div>

</div>
